<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/bootstrap-icons.min.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/fonts.css}">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<script th:src="@{/js/common.js}"></script>
	<title>Gmarket</title>
</head>

<body>
	<aside class="d-flex flex-column justify-content-between">
		<div class="w-100">
			<div class="logo text-center my-3">
				<a href="/" th:href="@{/}">
					<img th:src="@{/images/logo.png}" alt="지마켓로고">
				</a>
			</div>
			<ul class="gnb w-100">
				<li th:classappend="${active == 'hist' ? 'active' : ''}">
					<a href="/view/hist/left"><i class="bi bi-list-task me-2"></i>이력조회</a>
				</li>
				<li th:classappend="${active == 'send' ? 'active' : ''}">
					<a href="/view/send/left"><i class="bi bi-envelope-arrow-up me-2"></i>개별발송</a>
				</li>
				<li th:classappend="${active == 'excelSend' ? 'active' : ''}">
					<a href="/view/excelSend/left"><i class="bi bi-file-earmark-spreadsheet me-2"></i>엑셀발송</a>
				</li>
				<li th:classappend="${active == 'fileSend' ? 'active' : ''}">
					<a href="/view/fileSend/left"><i class="bi bi-file-earmark-arrow-down me-2"></i>파일발송</a>
				</li>
				<li th:classappend="${active == 'dbSend' ? 'active' : ''}">
					<a href="/view/dbSend/left"><i class="bi bi-database me-2"></i>DB발송</a>
				</li>
				<li th:classappend="${active == 'bulkHist' ? 'active' : ''}">
					<a href="/view/bulkHist/left"><i class="bi bi-menu-up me-2"></i>대량발송 이력</a>
				</li>
				<li th:classappend="${active == 'wait' ? 'active' : ''}">
					<a href="/view/wait/left"><i class="bi bi-envelope-paper me-2"></i>대기 메시지 조회</a>
				</li>
				<li th:classappend="${active == 'real' ? 'active' : ''}">
					<a href="/view/real/left"><i class="bi bi-bar-chart-line me-2"></i>실시간 발송현황</a>
				</li>
				<li th:classappend="${active == 'stat' ? 'active' : ''}">
					<a href="/view/stat/left"><i class="bi bi-archive me-2"></i>정산/통계 조회</a>
				</li>
				<li th:classappend="${active == 'user' ? 'active' : ''}">
					<a href="/view/user/left"><i class="bi bi-sliders2 me-2"></i>사용자 관리</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="position-relative">
			<a href="#" class="user_profile d-flex align-items-center">
				<div class="user_img">
					<img th:src="@{/images/user.png}" alt="사용자 이미지">
				</div>
				<div class="ms-2 text-center">
					<div class="user_nm font-weight-500">
						사용자
					</div>
						<div class="user_grade">
						관리자
					</div>
				</div>
			</a>
				<button class="psw_chg_btn">
					비밀번호 변경
				</button>
			</div>			
			<div class="logout_btn w-100 mb-2">
				<button class="w-100 text-start">
					<i class="bi bi-box-arrow-right me-2"></i>로그아웃
				</button>
			</div>
		</div>
	</aside>
	<th:block th:replace="~{/passwordChg :: passwordChg}"></th:block>
	<th:block layout:fragment="content"></th:block>
</body>

</html>