<!DOCTYPE html>
<html lagn="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 		
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> 
	  <!-- 폐쇄망일 경우 layout 라이브러리를 따로 설치해서 사용해야됨 -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/bootstrap-icons.min.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/fonts.css}">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<script th:src="@{/js/common.js}"></script>
	<title>Gmarket</title>
	
	<!-- DevExtreme theme -->
	<link rel="stylesheet" th:href="@{/css/devextreme/dx.light.css}" />
	
	<!-- DevExtreme library -->
	<script th:src="@{/js/devextreme/jquery.min.js}"></script>
	<script th:src="@{/js/devextreme/dx.all.js}"></script>
	<script th:src="@{/js/devextreme/exceljs.min.js}"></script>
	<script th:src="@{/js/devextreme/FileSaver.min.js}"></script>
	<script th:src="@{/js/devextreme/localization/dx.messages.ko.js}"></script>
</head>
<body class="bg">
	<header>
        <div class="container d-flex justify-content-between align-items-center position-relative">
            <div class="logo">
                <a th:href="@{/}">
                    <img th:src="@{/images/logo.png}" alt="지마켓로고">
                </a>
            </div>
            <a href="javascript:void(0);" class="user_profile d-flex align-items-center">
                <div class="user_img">
                    <img th:src="@{/images/user.png}" alt="사용자 이미지">
                </div>
                <div class="ms-2 text-center">
                    <div class="user_nm font-weight-500">
						<span sec:authentication="principal.username"></span>
                    </div>
                    <div class="user_grade ">
						<span sec:authentication="principal.userGradeName"></span>
                    </div>
                </div>
            </a>
            <button class="psw_chg_btn">
                비밀번호 변경
            </button>
        </div>
    </header>
    <header>
        <div class="container d-flex justify-content-between align-items-center">
            <ul class="gnb d-flex justify-content-between align-items-center">
                <li th:classappend="${active == 'hist' ? 'active' : ''}" sec:authorize="hasAnyRole('ROLE_SUPER', 'ROLE_ADMIN', 'ROLE_USER')">
					<a th:href="@{/view/hist}"><i class="bi bi-list-task me-2"></i>이력조회</a>
				</li>
                <li th:classappend="${active == 'send' ? 'active' : ''}" sec:authorize="hasAnyRole('ROLE_SUPER', 'ROLE_ADMIN', 'ROLE_USER')">
					<a th:href="@{/view/send}"><i class="bi bi-menu-up me-2"></i>개별발송</a>
				</li>
                <li class="sendmenu" sec:authorize="hasAnyRole('ROLE_SUPER', 'ROLE_ADMIN', 'ROLE_USER')">
                    <a href="javascript:void(0);">
						<i class="bi bi-envelope-arrow-up me-2"></i>대량발송
						<i class="bi bi-chevron-down font-sz-12"></i>
					</a>
                    <ul class="flex-column align-items-center">                        
                        <li sec:authorize="hasAnyRole('ROLE_SUPER', 'ROLE_ADMIN', 'ROLE_USER')">
							<a th:href="@{/view/excelSend}">엑셀발송</a>
						</li>
                        <li sec:authorize="hasAnyRole('ROLE_SUPER', 'ROLE_ADMIN', 'ROLE_USER')">
							<a th:href="@{/view/fileSend}">파일발송</a>
						</li>
                        <li sec:authorize="hasAnyRole('ROLE_SUPER', 'ROLE_ADMIN', 'ROLE_USER')">
							<a th:href="@{/view/dbSend}">DB발송</a>
						</li>
                        <li sec:authorize="hasAnyRole('ROLE_SUPER', 'ROLE_ADMIN', 'ROLE_USER')">
							<a th:href="@{/view/bulkHist}">대량발송 이력</a>
						</li>
                    </ul>
                </li>
                <li th:classappend="${active == 'wait' ? 'active' : ''}" sec:authorize="hasAnyRole('ROLE_SUPER', 'ROLE_ADMIN', 'ROLE_USER')">
					<a th:href="@{/view/wait}">
						<i class="bi bi-envelope-paper me-2"></i>대기 메시지 조회
					</a>
				</li>
                <li th:classappend="${active == 'real' ? 'active' : ''}" sec:authorize="hasAnyRole('ROLE_SUPER', 'ROLE_ADMIN', 'ROLE_OPERATOR')">
					<a th:href="@{/view/real}">
						<i class="bi bi-bar-chart-line me-2"></i>실시간 발송현황
					</a>
				</li>
                <li th:classappend="${active == 'stat' ? 'active' : ''}" sec:authorize="hasAnyRole('ROLE_SUPER', 'ROLE_ADMIN')">
					<a th:href="@{/view/stat}">
						<i class="bi bi-archive me-2"></i>정산/통계 조회
					</a>
				</li>
                <li th:classappend="${active == 'user' ? 'active' : ''}" sec:authorize="hasAnyRole('ROLE_SUPER', 'ROLE_ADMIN')">
					<a th:href="@{/view/user}">
						<i class="bi bi-sliders2 me-2"></i>사용자 관리
					</a>
				</li>
            </ul>
            <a th:href="@{/logout}" class="logout"><i class="bi bi-box-arrow-right me-2"></i>로그아웃</a>
        </div>
    </header>
    <section>
        <div class="container">
            <th:block layout:fragment="content"></th:block>
        </div>
    </section>
    <th:block th:replace="~{/view/popup/passwordChg :: passwordChg}"></th:block>
	
	
	
	<script>
		DevExpress.localization.locale(navigator.language);
	</script>
</body>
</html>