ul, li, p ,h1, h2, h3{
    margin: 0;
    padding: 0;
}
body.on{overflow: hidden;}
li{list-style: none; margin: 0; padding: 0;}
a{text-decoration: none; color: #333;}
button{border: none; background-color: transparent;}
.font-weight-100{
    font-weight: 100;
}
.font-weight-200{
    font-weight: 200;
}
.font-weight-300{
    font-weight: 300;
}
.font-weight-400{
    font-weight: 400;
}
.font-weight-500{
    font-weight: 500;
}
.font-weight-600{
    font-weight: 600;
}
.font-weight-700{
    font-weight: 700;
}
.font-weight-800{
    font-weight: 800;
}
.font-weight-900{
    font-weight: 900;
}
.font-sz-12{
    font-size: 0.75rem !important;
}
.font-sz-14{
    font-size: 0.875rem !important;
}
.font-sz-16{
    font-size: 1rem !important;
}
.font-sz-18{
    font-size: 1.125rem !important;
}
.font-sz-20{
    font-size: 1.25rem !important;
}
.font-sz-24{
    font-size: 1.5rem !important;
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1400px;
    }
}