$green: #0abb26;

// modal
.modal-bg{
    position: fixed;
    background-color: #1f293740;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    .modal-wrap {
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(31, 41, 55, 0.04);
        border-radius: 8px;
        max-width: 720px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .modal-hd{
            padding: 0 0 0 1.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #e5e7eb;
            button{
                width: 56px;
                height: 56px;
                color: #999;
            }
            button:hover{
                color: #333;
            }
        }
        .modal-con {
            padding: 1.5rem;
        }
        .modal-ft {
            display: flex;
            flex-shrink: 0;
            justify-content: end;
            align-items: center;
            padding: 1rem 1.5rem;
            border-top: 1px solid #e5e7eb;
            background-color: #f9fafb;
            a, button{
                padding: 0.4375rem 1rem;
                color: #fff;
                border-radius: 5px;
            }
            button:hover{
                opacity: .8;
            }
        }
    }
}

// header
header{
    border-bottom: 1px solid #ddd;
    padding: 2px 0;
    background: #fff;
    position: relative;
    .logo{
       img{
         width: 80px;
       }
    }
    .user_profile {
        max-height: 50px;
        padding: 14px 0;
        color: #666;
        .user_img {
            width: 32px;
            height: 32px;
            border-radius: 3px;
            background-color: #888;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .user_nm {
            line-height: 1.2;
        }
        .user_grade {
            font-size: 13px;
            line-height: 1.2;
            text-align: start;
        }
    }
    .gnb{
        li{
            max-height: 50px;
            position: relative;
            .menuhover{
                padding: 14px;
                vertical-align: middle;
                border-radius: 5px;
                color: #666;
                transition: .2s background-color, .2s color;
                display: inline-block;
            }
            ul{
                position: absolute;
                top: 100%;
                left: 0;
                background-color: #ffffff;
                width: 100%;
                box-shadow: 0 0 5px #00000020;
                z-index: 100000;
                li{
                    padding: 7px 2px;
                    width: 100%;
                    text-align: center;
                    a{
                        padding: 7px;
                        display: block;
                        width: 100%;
                        &:hover{
                            background-color: #f0f0f0;
                            color: #333;
                        }
                    }
                }
            }
            &.active::before{                
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background: $green;
                top: 100%;
            }            
        }
        > li:hover{
            > .menuhover{
                background-color: #f9fafb;
                color: #333;
            }
        }
    }    
}

// hist
#histGrid {
    .dx-bordered-bottom-view {
        height: calc(100vh - 560px);
    }
    .modal-wrap {
        width: 600px;
        textarea {
            height: 400px;
        }
    }
}

// bulkHist
#bulkHistGrid {
    .dx-bordered-bottom-view {
        height: calc(100vh - 520px);
    }
}

// wait
#waitGrid {
    .dx-bordered-bottom-view {
        height: calc(100vh - 520px);
    }
}

// alarm
#alarmGrid {
    .dx-bordered-bottom-view {
        height: calc(100vh - 560px);
    }
}