<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%boldMagenta(%d{MM-dd HH:mm:ss}) [%boldYellow(%-5level)] %cyan(%logger{5}.%M) - %msg %n</pattern>
        </encoder>
    </appender>
    
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:/gmarket/gmarket.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>C:/gmarket/backup/gmarket_%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<encoder>
	       <pattern>%boldMagenta(%d{MM-dd HH:mm:ss}) [%boldYellow(%-5level)] %cyan(%logger{5}.%M) - %msg %n</pattern>
	       <ImmediateFlush>true</ImmediateFlush>
	    </encoder>
	</appender>
	
	<appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:/gmarket/error/error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>C:/gmarket/backup/error/error_%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<encoder>
	       <pattern>%boldMagenta(%d{MM-dd HH:mm:ss}) [%boldYellow(%-5level)] %cyan(%logger{5}.%M) - %msg %n</pattern>
	       <ImmediateFlush>true</ImmediateFlush>
	    </encoder>
	</appender>
    
    <logger name="jdbc" level="OFF" /> 
    <logger name="jdbc.sqlonly" level="OFF" /> <!-- SQL문 보여주기 -->
    <logger name="jdbc.sqltiming" level="INFO" /> <!-- SQL문과 SQL문 시간 보여주기 -->
    <logger name="jdbc.audit" level="OFF" />
    <logger name="jdbc.resultset" level="OFF" />
    <logger name="jdbc.resultsettable" level="OFF" /> <!-- SQL 문 결과를 테이블 형태로 보여주기 -->
    <logger name="jdbc.connection" level="OFF" />
    
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ERROR" />
    </root>
    
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ROLLING" />
    </root>
</configuration>