html{width:100%; height:100%;}
body{width:100%; height:100%;}
ul, li{list-style: none; margin: 0; padding: 0;}
a{text-decoration: none; color:#333;}
.bg{
    background: #F9FAFB;
}
.main-color{
	color:#0abb26;
}
.main-bg{
	background-color:#0abb26;
}
.main-border{
	border:1px solid #0abb26;
}
.sub-color{
    color:#0028AC;
}
.sub-bg{
    background-color:#0028AC;
}
button{
    border: 0;
    background: transparent;
}
.text-red{
    color:#ff6767;
}
.text-666{
    color: #666;
}
input, textarea{
    padding: 0.3rem;
    border: 1px solid #ccc;
}
.font-weight-100{
    font-weight: 100;
}
.font-weight-200{
    font-weight: 200;
}
.font-weight-300{
    font-weight: 300;
}
.font-weight-400{
    font-weight: 400;
}
.font-weight-500{
    font-weight: 500;
}
.font-weight-600{
    font-weight: 600;
}
.font-weight-700{
    font-weight: 700;
}
.font-weight-800{
    font-weight: 800;
}
.font-weight-900{
    font-weight: 900;
}
.font-sz-12{
    font-size: 0.75rem;
}
.font-sz-14{
    font-size: 0.875rem;
}
.font-sz-16{
    font-size: 1rem;
}
.font-sz-18{
    font-size: 1.125rem;
}
.font-sz-20{
    font-size: 1.25rem;
}
.font-sz-24{
    font-size: 1.5rem;
}
:focus-visible{
    outline: none;    
}
.content{
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    padding: 1rem;
}
.modal-bg{
    position: fixed;
    background-color: #1f293740;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.modal-wrap {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(31,41,55,0.04);
    border-radius: 8px;    
    max-width: 720px;
    overflow: hidden;
}
.modal-hd{
    padding: 0 0 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e7eb;
}
.modal-hd button{
    width: 56px;
    height: 56px;
    color: #999;
}
.modal-hd button:hover{
    color: #333;
}
.modal-con {
    padding: 1.5rem;
}
.modal-ft {
    display: flex;
    flex-shrink: 0;
    justify-content: end;
    align-items: center;
    padding: 1rem 1.5rem;
    border-top: 1px solid #e5e7eb;
    background-color: #f9fafb;
}
.modal-ft button{
    padding: 0.4375rem 1rem;
    color: #fff;
    border-radius: 5px;
}
.modal-ft button:hover{
    opacity: .8;
}
.form-control {
    display: block !important;
    width: 100% !important;
    padding: .4375rem .75rem !important;
    /* font-weight: 600; */
    line-height: 1.4285714286 !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #e5e7eb !important;
    border-radius: 6px !important;
    box-shadow: 0 1px 1px rgba(31,41,55, 0.06) !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}
.form-control:focus {
    color: #212529 !important;
    background-color: #fff !important;
    border-color: #86b7fe !important;
    outline: 0 !important;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25) !important;
}
.form-control::placeholder{
    color:#999 !important;
    font-weight: 300 !important;
}
.dx-texteditor-input{
    font-size: 1rem !important;
}
.dx-placeholder {
    font-weight: 300 !important;
    font-size: 1rem !important;
}
.dx-textbox.dx-editor-outlined,
.dx-datebox.dx-editor-outlined{
    border: 1px solid #e5e7eb !important;
    border-radius: 6px !important;
}
.dx-textbox.dx-state-focused,
.dx-datebox.dx-state-focused{
    color: #212529 !important;
    background-color: #fff !important;
    border-color: #86b7fe !important;
    outline: 0 !important;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25) !important;
}
.dx-texteditor-input {
    min-height: 38px !important;
}

