/* login.html   */
#gm_login{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #EDF0F6;
}
#gm_login::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../images/Gmarket.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: bottom right;
    opacity: 0.5;
}
#gm_login input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    padding-left: 0;
}
#gm_login label{
    color: #999;
}
#gm_login input::placeholder{
    color:#ccc;
    font-weight: 200;
}
#gm_login form {
    padding: 3rem;
    position: relative;
    box-shadow: 0 0 30px #00000010;
}
#gm_login form h1{
    position: absolute;
    left: 0; right: 0;margin: auto 0;
    text-align: center;
    bottom: 100%;
}
#gm_login form h1 img{
    height: 100px;
}
#gm_login h2{
    color: #ffffff;
}
.login_btn{
    background-color: #0abb26;
    color: #fff;
    border-radius: 0.3rem;
    font-weight: bold;
    padding: .6rem 6rem;
    transition: box-shadow 0.2s;
}
.login_btn:hover{
    box-shadow: 0 0px 5px #00000050;
}
.find_psw:hover{
    border-bottom: 1px solid #00000080;
}
/* topMenu.html */
header{
    border-bottom: 1px solid #ddd;    
    padding: 2px 0;
    background: #fff;
    position: relative;
}
.logo{
    height: 32px;
}
.logo img{
    height: 100%;
    transform: scale(1.8) translateX(2px);
}
.user_profile{
    max-height: 50px;
    padding: 14px 0;
    color: #666;
}
.user_profile .user_img{
    width: 32px;
    height: 32px;
    border-radius: 3px;
    background-color: #888;
    overflow: hidden;
}
.user_profile .user_img img{
    width: 100%;
}
.user_profile .user_nm{
   line-height: 1.2;   
}
.user_profile .user_grade{
    font-size: 13px;
    line-height: 1.2;
}
header li{
    padding: 14px 0;
    max-height: 50px;
    position: relative;
}
header li ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 0 5px #00000020;
    z-index: 100000;
}
header li ul li{
    padding: 7px 2px;
    width: 100%;
    text-align: center;
}
header li ul li a{
    padding: 7px;
    display: block;
    width: 100%;
}
header li a{
    padding: 14px;
    vertical-align: middle;
    border-radius:5px;
    color: #666;
    transition: .2s background-color, .2s color;
}
header .gnb > li:hover > a{
    background-color: #f9fafb;
    color: #333;
}
header .gnb > li > ul li > a:hover{
    background-color: #f0f0f0;
    color: #333;
}
header li.active::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #0abb26;
    top:100%
}
a.logout{
    border-bottom: 1px solid transparent;
    color: #666;
}
a.logout:hover{
    color: #333;
    border-bottom: 1px solid #666;
}
.psw_chg_btn{
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #00000020;
    padding: 0.4375rem 1rem;
    border:1px solid #fff;
    color: #666;
    z-index: 10;
}
.psw_chg_btn:hover{
    border:1px solid #0abb2650;
    color: #333;
}
/* leftMenu.html */
.aside-m{
    margin-left: 15rem;
}
aside{
    position: fixed;
    width: 15rem;
    height: 100%;
    background-color: #f9fafb;
    color: #666;
    top: 0;
    left: 0;
}
aside li{
    width: 100%;
    border-radius:5px;
    position: relative;
}
aside li a{
    display: block;
    width: 100%;
    padding: 0.7rem 1.3rem;
    border-radius:5px;
}
aside li a{    
    color: #666;
    background-color: #f9fafb;
    transition: .2s background-color, .2s color;
}
aside .user_profile:hover,
aside .logout_btn button:hover,
aside li:hover a{
    background-color: #f1f2f3;
    color: #333;
}
aside .user_profile{
    padding-left: 1.3rem;
}
aside .user_img{
    box-shadow: 0 0 5px #00000020;
}
aside .logout_btn button{
    max-height: 50px;
    padding: 14px 1.3rem;
    color: #666;
}
aside li.active::before{
    position: absolute;
    content: "";
    width: 3px;
    height: 100%;
    background: #0abb26;
    left: 0;
    z-index: 1;
}
aside li.active a{
    color: #333;
}

aside .psw_chg_btn{
    /* bottom: 100%;
    left: 50%;
    width: 150px;
    height: 100%; */
    /* display: block; */
    position: unset;
    width: 100%;
    box-shadow: none;
    border-radius: 0px;
    background-color: #00000010;
    border: 1px solid transparent;

    
}
aside .psw_chg_btn:hover{
    border: 1px solid transparent;
    background-color: #00000020;
}
/* passwordChg.html */
.passwordChg{
    display: none;
}
.passwordChg .modal-wrap{
    margin: 15rem auto;
}
/* hist.html */
#histGrid .dx-bordered-bottom-view {
    max-height: calc(100vh - 520px);
}
/* bulk_hist.html */
#bulkHistGrid .dx-bordered-bottom-view {
    max-height: calc(100vh - 480px);
}
/* wait_sms_hist.html */
#waitHistGrid .dx-bordered-bottom-view {
    max-height: calc(100vh - 490px);
}
/* stat.html */
#statGrid .dx-bordered-bottom-view {
    max-height: calc(100vh - 525px);
}