/* login.html   */
#gm_login{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #EDF0F6;
}
#gm_login::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../images/Gmarket.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: bottom right;
    opacity: 0.5;
}
#gm_login input[type="text"],
#gm_login input[type="password"]{
    background: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    padding-left: 0;
}
#gm_login label{
    color: #999;
}
#gm_login input::placeholder{
    color:#ccc;
    font-weight: 200;
}
#gm_login form {
    padding: 3rem;
    position: relative;
    box-shadow: 0 0 30px #00000010;
}
#gm_login form h1{
    position: absolute;
    left: 0; right: 0;margin: auto 0;
    text-align: center;
    bottom: 100%;
}
#gm_login form h1 img{
    height: 100px;
}
#gm_login form .activeXdownload{
    top: calc(100% + .3rem);
}
#gm_login form .activeXdownload:hover button{
    border-bottom: 1px solid #999;
}
#gm_login h2{
    color: #ffffff;
}
.login_btn{
    background-color: #0abb26;
    color: #fff;
    border-radius: 0.3rem;
    font-weight: bold;
    padding: .6rem 6rem;
    transition: box-shadow 0.2s;
}
.login_btn:hover{
    box-shadow: 0 0px 5px #00000050;
}
.find_psw:hover{
    border-bottom: 1px solid #00000080;
}
/* topMenu.html */
header{
    border-bottom: 1px solid #ddd;    
    padding: 2px 0;
    background: #fff;
    position: relative;
}
.logo{
    height: 32px;
}
.logo img{
    height: 100%;
    transform: scale(1.8) translateX(2px);
}
.user_profile{
    max-height: 50px;
    padding: 14px 0;
    color: #666;
}
.user_profile .user_img{
    width: 32px;
    height: 32px;
    border-radius: 3px;
    background-color: #888;
    overflow: hidden;
}
.user_profile .user_img img{
    width: 100%;
}
.user_profile .user_nm{
   line-height: 1.2;   
}
.user_profile .user_grade{
    font-size: 13px;
    line-height: 1.2;
}
header li{
    padding: 14px 0;
    max-height: 50px;
    position: relative;
}
header li ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 0 5px #00000020;
    z-index: 100000;
}
header li ul li{
    padding: 7px 2px;
    width: 100%;
    text-align: center;
}
header li ul li a{
    padding: 7px;
    display: block;
    width: 100%;
}
header li a{
    padding: 14px;
    vertical-align: middle;
    border-radius:5px;
    color: #666;
    transition: .2s background-color, .2s color;
}
header .gnb > li:hover > a{
    background-color: #f9fafb;
    color: #333;
}
header .gnb > li > ul li > a:hover{
    background-color: #f0f0f0;
    color: #333;
}
header li.active::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #0abb26;
    top:100%
}
a.logout{
    border-bottom: 1px solid transparent;
    color: #666;
}
a.logout:hover{
    color: #333;
    border-bottom: 1px solid #666;
}
.psw_chg_btn{
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #00000020;
    padding: 0.4375rem 1rem;
    border:1px solid #fff;
    color: #666;
    z-index: 10;
}
.psw_chg_btn:hover{
    border:1px solid #0abb2650;
    color: #333;
}
/* leftMenu.html */
.aside-m{
    margin-left: 15rem;
    position: relative;
}
aside{
    position: fixed;
    width: 15rem;
    height: 100%;
    background-color: #f9fafb;
    color: #666;
    top: 0;
    left: 0;
}
aside li{
    width: 100%;
    border-radius:5px;
    position: relative;
}
aside li a{
    display: block;
    width: 100%;
    padding: 0.7rem 1.3rem;
    border-radius:5px;
}
aside li a{    
    color: #666;
    background-color: #f9fafb;
    transition: .2s background-color, .2s color;
}
aside .user_profile:hover,
aside .logout_btn button:hover,
aside li:hover a{
    background-color: #f1f2f3;
    color: #333;
}
aside .user_profile{
    padding-left: 1.3rem;
}
aside .user_img{
    box-shadow: 0 0 5px #00000020;
}
aside .logout_btn button{
    max-height: 50px;
    padding: 14px 1.3rem;
    color: #666;
}
aside li.active::before{
    position: absolute;
    content: "";
    width: 3px;
    height: 100%;
    background: #0abb26;
    left: 0;
    z-index: 1;
}
aside li.active a{
    color: #333;
}
aside .psw_chg_btn{
    position: unset;
    width: 100%;
    box-shadow: none;
    border-radius: 0px;
    background-color: #00000010;
    border: 1px solid transparent;    
}
aside .psw_chg_btn:hover{
    border: 1px solid transparent;
    background-color: #00000020;
}
/* 페이지 */
/* hist.html */
#histGrid .dx-bordered-bottom-view {
    max-height: calc(100vh - 560px);
}
/* bulk_hist.html */
#bulkHistGrid .dx-bordered-bottom-view {
    max-height: calc(100vh - 520px);
}
/* wait_sms_hist.html */
#waitHistGrid .dx-bordered-bottom-view {
    max-height: calc(100vh - 530px);
}
/* stat.html */
#statGrid .dx-bordered-bottom-view {
    max-height: calc(100vh - 560px);
}
/* user.html */
#userGrid .dx-bordered-bottom-view {
    max-height: calc(100vh - 540px);
}
/* real_send_hist.html */
#real_send_hist .content {
    min-height: 22rem;
}
#real_send_hist ul.gmarket .card{
    border-radius: 5px;
    background-color: #d5f6d6;
    border: 1px solid #d5f6d6;
    height: 100%;
    overflow: hidden;
}
#real_send_hist ul.auction .card{
    border-radius: 5px;
    background-color: #d5e8f6;
    border: 1px solid #d5e8f6;
    height: 100%;
    overflow: hidden;
}
#real_send_hist ul.smileCash .card{
    border-radius: 5px;
    background-color: #f9fcd5;
    border: 1px solid #f9fcd5;
    height: 100%;
    overflow: hidden;
}
#real_send_hist ul > li.real2{
    width: 240px;
}
#real_send_hist ul.auction + p{
    margin-top: 1.7rem;
}
#real_send_hist .card-body{
    padding: .2rem .3rem;
}
#real_send_hist > .row>* {
    padding-right: calc(var(--bs-gutter-x) * 0);
}
#real_send_hist p {
    width: 78px;
}
#real_send_hist table{
    font-size: 12px;
}
#real_send_hist table td,
#real_send_hist table th{
    text-align: center;
    border-right: 1px solid #dee2e6;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: .3rem;
    background-color: #fff;
} 
#real_send_hist table td:last-child,
#real_send_hist table th:last-child{
    border-right: none;
} 
#real_send_hist table tbody tr:last-child{
    border-bottom: 1px solid #fff;
}
.marquee{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 66px;
}
.marqueereverse {
    display: inline-block;
    position: absolute;
}
.marqueereverse.delay {
    animation-fill-mode: both;
}
.marqueereverse.gmarket {
    animation: slidereversemarquee 340s linear infinite;
}
.marqueereverse.gmarket.delay {
    animation-delay: -170s;
}
.marqueereverse.auction {
    animation: slidereversemarquee 400s linear infinite;
}
.marqueereverse.auction.delay {
    animation-delay: -200s;
}
.marqueereverse.on {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
/* .marqueereverse:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused
} */
#real_send_hist ul.marqueereverse.delay.gmarket .card{
    /* background-color: #dc3545; */
}
@keyframes slidereversemarquee {
    0% {transform:translateX(100%);}
    100% { transform:translateX(-100%);}
}
.serviceName{
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.processFile{
    background-color: #ffffff80;
    border-radius: 5px;
    padding: .2rem .3rem;
    text-align: center;
    display: flex;
    align-items: center;
}
.processFileName{
    font-size: 11px;
}
.processFileStatWrap{
    text-align: left;
}
.processFileStat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    gap: 3px;
}
.statColor{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #999;
}
.statColor.real3{
    width: 18px;
    height: 18px;
    display: inline-block;
    line-height: 18px;
    font-size: 10px;
    color: #fff;
    font-weight: 500;
}
.statColor.red{
    background-color: red;
}
.statColor.green{
    background-color: green;
}
.statColor.gray{
    background-color: #999;
}
/* send.html */
/* excel_send.html */
.send > ul{
    max-width: 760px;
    margin: auto;
}
.send > ul > li{
    display: flex;
    margin-bottom: 2rem;    
}
.send .tab li{
    margin-right: .5rem;
    position: relative;
}
.send .tab li button{
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 50px;
    padding-left: .8rem;
    padding-right: .8rem;
    position: relative;
    z-index: 2;
}
.send .tab li.on::after{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    background-color:#0abb26;
    bottom: -5px;
    right: 0;
    left: 0;
    margin: auto;
    transform: rotate(45deg);
    z-index: 0;
}
.send .tab li.on button{
    background-color:#0abb26;
    border: 1px solid #0abb26;
    color: #fff;
}
.send .callback_wrap{
    display: none;
}
.send .grid{
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    max-height: 500px;
    overflow-y: auto;
}
.send .grid table th,
.send .grid table td{
    min-width: 150px;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#dbGrid table th,
#dbGrid table td{
    min-width: auto;
    max-width: 400px;
}
.send .grid table tbody tr:last-child{
    border-bottom: #fff;
}
.send .grid table tbody tr:hover{
    background: #f0f7ff;
}
.send .grid table tbody tr:hover td{
    background: transparent;
}
.send .grid .dx-bordered-bottom-view{
    max-height: 10rem;
}
.send .deleteBtn:hover {
    background: #dae9ff;
    border-radius: 2px;
}
.send .designBtn:hover{
    background: #dae9ff;
    border-radius: 2px;
}
.send .deleteBtn:hover i{
    color:#fc0e0e;
}
.send .designBtn:hover i{
    color:#0abb26;
}
.send .msg_wrap_hd{
    border-bottom: 1px solid #e5e7eb;
}
.send .msg_wrap_ft{
    border-top: 1px solid #e5e7eb;
}
.send .msg_wrap_ft .col:first-child{
    border-right: 1px solid #ddd;
}
.send .msg_wrap_ft button{
    color: #666;
}
.send .msg_wrap_ft button:hover{
    background: #f0f0f0;
    color: #333;
}
#msgWrite_btn {
    border-radius: 0 0 0 6px;
    color: #fff;
    background-color: #0f6cbd;
}
#msgWrite_btn:hover {
    background-color: #115fa3;
}
.send .msg_wrap textarea{
    border: none;
    resize: none;
    height: 25rem;
}
.send .msg_wrap textarea::placeholder{
    color: #ccc;
}
.send .msg_type{
    border-radius: 6px 0 0 0;
    color: #fff;
    opacity: .9;
}
.send .msg_type.sms{
    background-color: #0d6efd;    
}
.send .msg_type.lms{
    background-color: #0abb26;
}
.send .msg_type.mms{
    background-color: #dc3545;
}
.send .msg_wrap{
    border-right: 1px solid #e5e7eb;
}
.img-check {
    position: absolute;
    right: 0;
    top: 120px;
    color: #666;
    font-size: 12px;
}
.option_tab li{
    border-bottom: 3px solid #ddd;
    text-align: center;
}
.option_tab li.on{
    border-bottom: 3px solid #0abb26
}
.option_tab li button{
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.option_wrap{
    display: none;
}
.option_wrap li{
    text-align: center;
}
.option_wrap .btn_wrap {
    top: 390px;
    left: 18px;
}
#message::placeholder{
    color: #ccc;
    font-weight: 300;
}
#unicode ul li{
    cursor: pointer;
    padding: .5rem;
    border: 1px solid transparent;
    font-size: 1rem;
    max-width: 36px;
}
#unicode ul li:hover{
    border: 1px solid #0abb26;
    box-shadow: 0 0 5px #00000020;
}
#tag button {
    border: 1px solid #ccc;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 50px;
    transition: border 0.2s;
} 
#tag button:hover{
    border: 1px solid #0abb26;
}
.send_btn {
    --bs-btn-color: #ddd;
    --bs-btn-border-color: #dddddd;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #0d6efd;
    --bs-btn-active-border-color: #0d6efd;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    /* --bs-btn-disabled-color: #ddd; */
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none;
}
#splitSendUse.disabled select{
    background-color: #fefefe;
    color: #ddd;
    --bs-form-select-bg-img: none;
}
#splitSendUse.disabled span{
    color: #ddd;
}
.filebtn input[type="file"].form-control::file-selector-button {
    background-color: #0f6cbd;
    border-radius: 0.375rem;
    color: #fff;  
}
.filebtn input[type="file"].form-control:hover::file-selector-button {
    background-color: #115fa3 !important;
}
#msgGrid table,
#excelGrid table,
#textGrid table {
    border-spacing: 0;
    border-collapse: separate;
}
#dropzone-external {
  background-color: rgb(183 183 183 / 10%);
  padding: 10px;
  border-color: var(--dx-color-border);
  min-height: 10rem;
}

#dropzone-external > * {
  pointer-events: none;
}

#dropzone-external.dropzone-active {
  border-style: solid;
  border-color: var(--dx-color-primary);
}

.widget-container > span {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 16px;
}

#dropzone-image {
  max-width: 100%;
  max-height: 100%;
}

#dropzone-text > span {
  font-weight: 100;
  opacity: 0.5;
}

#upload-progress {
  display: flex;
  margin-top: 10px;
}

.flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-question::after{
    background: #aaa;
    position: absolute;
    top:50%;
    transform: translateY(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    right: calc(100% - 5px);
    z-index: 0;
    transition: .2s;
}
.img-question::before{
    position: absolute;
    background: #999;
    color: #fff;
    white-space: nowrap;
    padding: .5rem;
    top:50%;
    transform: translateY(-50%);
    right: 100%;
    border-radius: 3px;
    box-shadow: 0 0 15px #00000030;
    z-index: 1;
    transition: .2s;
    font-size: 12px;
}
.img-question:hover::after{
    content: "";
}
.img-question:hover::before{
    content: "JPG 최대 2장까지 가능하며,\A 파일당 100K까지 지원합니다. ";
    white-space:pre;
}
/* 모달 */
/* reserveSend.html */
.reserveSend .modal-wrap{
    width: 500px;
}
.reserveSend #calendar{
    margin: auto;
    width: 450px;
    height: 350px;
}
/* bookmarkMsg */
.bookmarkMsg .modal-wrap{
    width: 800px;
    max-width: none;
}
.bookmarkMsg .dx-cardview-card > div {
    height: 100%;
}

.bookmarkMsg .dx-cardview-card:hover{
    border: 1px solid #0d6efd;
    box-shadow: 0 0 10px #00000020;
}
.bookmarkMsg .dx-cardview-headers {
    display: none !important;
}
.bookmarkMsg .dx-cardview-field-caption{
    display: none !important;
}
.bookmarkMsg .dx-cardview-card-header{
    height: 45px;
}
.bookmarkMsg .dx-cardview-card-content{
    /* height: calc(100% - 45px); */
    overflow-y: auto;
    /* max-height: 200px; */
    height: 200px;
}
.bookmarkMsg .dx-cardview-field-value{
    overflow-y: auto;
}
/* passwordChg.html */
.passwordChg .modal-wrap{
    width: 600px;
}
.passwordChg  .modal-con{
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* excelWebSetup.html */
.excelWebSetup .modal-con {
    max-height: 650px;
    overflow-y: auto;
}
.excelWebSetup .wrap{
    padding-left: 2rem;
    padding-right: 2rem;
}
.excelWebSetup .wrap ol li{
   list-style: decimal;
   margin-bottom: 3rem;
}
.excelWebSetup .wrap ol li span{
    display: block;
    margin-top: .3rem;
    /* text-align: center; */
}
.excelWebSetup .modal-ft a{
    border: 1px solid #0f6cbd;
    background-color: #fff;
    color:#0f6cbd;
}
.excelWebSetup .modal-ft a:hover{
    background-color: #ebf3fc;
    color: #0a2e4a;
}
/* confirmSend.html */
.confirmSend .modal-con {
    width: 500px;
}
.confirmSend textarea{
    resize: none;
    height: 400px;
}
/* db */
#file-uploader .dx-fileuploader-wrapper{
    padding: 0;
}
.dx-fileuploader-input-wrapper .dx-fileuploader-button{
    width: 100%;
    background-color: rgb(183 183 183 / 10%);
    padding: 10px;
    border-color: var(--dx-color-border);
    min-height: 5rem;
}
.dx-fileuploader-input-wrapper .dx-fileuploader-button .dx-button-text{
    font-weight: 100;
    opacity: 0.5;
}
/* imgPreview.html */
/* .imgPreview .modal-con {
    width: 600px;
} */