/* login.html.2   */
#gm_login{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #43435E;
}
#gm_login .light_logo{
    display: none;
}
#gm_login .dark_logo{
    display: block;
}
#gm_login .write_wrap{
    min-width: 300px;
}
#gm_login .text-color{
    color: #ffffff;
}
#gm_login input{
    background: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
    padding-left: 0;
    caret-color: #fff;
    color: #ffffff;
}
#gm_login input::placeholder{
    color:#ffffff60;
    font-weight: 100;
}
#gm_login form {
    background-color: #43435E;
    padding: 5rem;
    position: relative;
    box-shadow: 0 5px 20px #000000a0;
    overflow: hidden;
}
#gm_login form::before{
    content: "";
    width: 300px;
    height: 320px;
    position: absolute;
    top: -90px;
    left: -35px;
    background-image: url(../images/login.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top left;    
    transform: rotate(-20deg);
    opacity: 0.8;
} 
#gm_login h2{
    color: #ffffff;
}
.login_btn{
    background-color: #0abb26;
    color: #fff;
    border-radius: 0.3rem;
    font-weight: bold;
    padding: .8rem 0;
    width: 100%;
    transition: box-shadow 0.2s;
}
.login_btn:hover{
    box-shadow: 0 0px 5px #ffffff80;
}
.find_psw:hover{
    border-bottom: 1px solid #fff;
}
.fixed_btn{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    color : #ffa;
    background-color: #43435E;
    border-radius: 50%;
    font-size: 1.5rem;
    box-shadow: 0 0 10px #00000080;
    border: 2px solid #7f7fa0;
}
#gm_login.light_mode{
    background-color: #f8fafc;
}
#gm_login.light_mode .text-color{
    color: #666;
}
#gm_login.light_mode form{
    background-color: #fff;
    box-shadow: 0 5px 20px #00000020;
}
#gm_login.light_mode .dark_logo{
    display: none;
}
#gm_login.light_mode .light_logo {
    display: block;
}
#gm_login.light_mode input{
    border-bottom: 2px solid #666;
    caret-color: #666;
    color: #666;
}
#gm_login.light_mode input::placeholder{
    color:#00000080;
    font-weight: 100;
}
#gm_login.light_mode .login_btn:hover{
    box-shadow: 0 0px 5px #00000080;
}
#gm_login.light_mode .find_psw:hover{
    border-bottom: 1px solid #666;
}