/* login.html   */
#gm_login{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #EDF0F6;
}
#gm_login::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../images/Gmarket.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: bottom right;
    opacity: 0.5;
}
#gm_login input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    padding-left: 0;
}
#gm_login label{
    color: #999;
}
#gm_login input::placeholder{
    color:#ccc;
    font-weight: 200;
}
#gm_login form {
    padding: 3rem;
    position: relative;
    box-shadow: 0 0 30px #00000010;
}
#gm_login form h1{
    position: absolute;
    left: 0; right: 0;margin: auto 0;
    text-align: center;
    bottom: 100%;
}
#gm_login form h1 img{
    height: 100px;
}
#gm_login h2{
    color: #ffffff;
}
.login_btn{
    background-color: #0abb26;
    color: #fff;
    border-radius: 0.3rem;
    font-weight: bold;
    padding: .6rem 6rem;
    transition: box-shadow 0.2s;
}
.login_btn:hover{
    box-shadow: 0 0px 5px #00000050;
}
.find_psw:hover{
    border-bottom: 1px solid #00000080;
}
/* topMenu.html */
header{
    border-bottom: 1px solid #ddd;    
    padding: 2px 0;
    background: #fff;
    position: relative;
}
.logo{
    height: 32px;
}
.logo img{
    height: 100%;
    transform: scale(1.8) translateX(2px);
}
.user_profile{
    max-height: 50px;
    padding: 14px 0;
    color: #666;
}
.user_profile .user_img{
    width: 32px;
    height: 32px;
    border-radius: 3px;
    background-color: #888;
    overflow: hidden;
}
.user_profile .user_img img{
    width: 100%;
}
.user_profile .user_nm{
   line-height: 1.2;   
}
.user_profile .user_grade{
    font-size: 13px;
    line-height: 1.2;
}
header li{
    padding: 14px 0;
    max-height: 50px;
    position: relative;
}
header li ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 0 5px #00000020;
    z-index: 100000;
}
header li ul li{
    padding: 7px 2px;
    width: 100%;
    text-align: center;
}
header li ul li a{
    padding: 7px;
    display: block;
    width: 100%;
}
header li a{
    padding: 14px;
    vertical-align: middle;
    border-radius:5px;
    color: #666;
    transition: .2s background-color, .2s color;
}
header .gnb > li:hover > a{
    background-color: #f9fafb;
    color: #333;
}
header .gnb > li > ul li > a:hover{
    background-color: #f0f0f0;
    color: #333;
}
header li.active::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #0abb26;
    top:100%
}
a.logout{
    border-bottom: 1px solid transparent;
    color: #666;
}
a.logout:hover{
    color: #333;
    border-bottom: 1px solid #666;
}
.psw_chg_btn{
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #00000020;
    padding: 0.4375rem 1rem;
    border:1px solid #fff;
    color: #666;
    z-index: 10;
}
.psw_chg_btn:hover{
    border:1px solid #0abb2650;
    color: #333;
}
/* leftMenu.html */
.aside-m{
    margin-left: 15rem;
}
aside{
    position: fixed;
    width: 15rem;
    height: 100%;
    background-color: #f9fafb;
    color: #666;
    top: 0;
    left: 0;
}
aside li{
    width: 100%;
    border-radius:5px;
    position: relative;
}
aside li a{
    display: block;
    width: 100%;
    padding: 0.7rem 1.3rem;
    border-radius:5px;
}
aside li a{    
    color: #666;
    background-color: #f9fafb;
    transition: .2s background-color, .2s color;
}
aside .user_profile:hover,
aside .logout_btn button:hover,
aside li:hover a{
    background-color: #f1f2f3;
    color: #333;
}
aside .user_profile{
    padding-left: 1.3rem;
}
aside .user_img{
    box-shadow: 0 0 5px #00000020;
}
aside .logout_btn button{
    max-height: 50px;
    padding: 14px 1.3rem;
    color: #666;
}
aside li.active::before{
    position: absolute;
    content: "";
    width: 3px;
    height: 100%;
    background: #0abb26;
    left: 0;
    z-index: 1;
}
aside li.active a{
    color: #333;
}
aside .psw_chg_btn{
    position: unset;
    width: 100%;
    box-shadow: none;
    border-radius: 0px;
    background-color: #00000010;
    border: 1px solid transparent;    
}
aside .psw_chg_btn:hover{
    border: 1px solid transparent;
    background-color: #00000020;
}
/* 페이지 */
/* hist.html */
#histGrid .dx-bordered-bottom-view {
    max-height: calc(100vh - 520px);
}
/* bulk_hist.html */
#bulkHistGrid .dx-bordered-bottom-view {
    max-height: calc(100vh - 480px);
}
/* wait_sms_hist.html */
#waitHistGrid .dx-bordered-bottom-view {
    max-height: calc(100vh - 490px);
}
/* stat.html */
#statGrid .dx-bordered-bottom-view {
    max-height: calc(100vh - 525px);
}
/* user.html */
#userGrid .dx-bordered-bottom-view {
    max-height: calc(100vh - 490px);
}
/* real_send_hist.html */
#real_send_hist .content {
    min-height: 22rem;
}
/* send.html */
#send > ul{
    max-width: 760px;
    margin: auto;
}
#send > ul > li{
    display: flex;
    margin-bottom: 2rem;    
}
#send .tab li{
    margin-right: .5rem;
    position: relative;
}
#send .tab li button{
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 50px;
    padding-left: .8rem;
    padding-right: .8rem;
    position: relative;
    z-index: 2;
}
#send .tab li.on::after{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    background-color:#0abb26;
    bottom: -5px;
    right: 0;
    left: 0;
    margin: auto;
    transform: rotate(45deg);
    z-index: 0;
}
#send .tab li.on button{
    background-color:#0abb26;
    border: 1px solid #0abb26;
    color: #fff;
}
#send .callback_wrap{
    display: none;
}
#send .grid{
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    overflow: hidden;
}
#send .grid .dx-bordered-bottom-view{
    max-height: 10rem;
}
#send .msg_wrap_hd{
    border-bottom: 1px solid #e5e7eb;
}
#send .msg_wrap_ft{
    border-top: 1px solid #e5e7eb;
}
#send .msg_wrap_ft .col:first-child{
    border-right: 1px solid #ddd;
}
#send .msg_wrap_ft button{
    color: #666;
}
#send .msg_wrap_ft button:hover{
    background: #f0f0f0;
    color: #333;
}
#send .msg_wrap textarea{
    border: none;
    resize: none;
    height: 25rem;
}
#send .msg_wrap textarea::placeholder{
    color: #ccc;
}
#send .msg_type.sms{
    background-color: #0d6efd;
    color: #fff;
    opacity: .9;
}
#send .msg_type.lms{
    background-color: #0abb26;
    color: #fff;
    opacity: .9;
}
#send .msg_type.mms{
    background-color: #dc3545;
    color: #fff;
    opacity: .9;
}
#send .msg_wrap{
    border-right: 1px solid #e5e7eb;
}
.option_tab li{
    border-bottom: 3px solid #ddd;
    text-align: center;
}
.option_tab li.on{
    border-bottom: 3px solid #0abb26
}
.option_tab li button{
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.option_wrap{
    display: none;
}
.option_wrap li{
    text-align: center;
}
#message::placeholder{
    color: #ccc;
    font-weight: 300;
}
#unicode ul li{
    cursor: pointer;
    padding: .5rem;
    border: 1px solid transparent;
    font-size: 1rem;
    max-width: 36px;
}
#unicode ul li:hover{
    border: 1px solid #0abb26;
    box-shadow: 0 0 5px #00000020;
}
#tag button {
    border: 1px solid #ccc;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 50px;
    transition: border 0.2s;
} 
#tag button:hover{
    border: 1px solid #0abb26;
}
.send_btn {
    --bs-btn-color: #ddd;
    --bs-btn-border-color: #dddddd;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #0d6efd;
    --bs-btn-active-border-color: #0d6efd;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    /* --bs-btn-disabled-color: #ddd; */
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none;
}
#dropzone-external {
  background-color: rgb(183 183 183 / 10%);
  padding: 10px;
  border-color: var(--dx-color-border);
  min-height: 10rem;
}

#dropzone-external > * {
  pointer-events: none;
}

#dropzone-external.dropzone-active {
  border-style: solid;
  border-color: var(--dx-color-primary);
}

.widget-container > span {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 16px;
}

#dropzone-image {
  max-width: 100%;
  max-height: 100%;
}

#dropzone-text > span {
  font-weight: 100;
  opacity: 0.5;
}

#upload-progress {
  display: flex;
  margin-top: 10px;
}

.flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-question::after{
    background: #777;
    position: absolute;
    top:50%;
    transform: translateY(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    right: calc(100% - 5px);
    z-index: 0;
    transition: .2s;
}
.img-question::before{
    position: absolute;
    background: #666;
    color: #fff;
    white-space: nowrap;
    padding: .5rem;
    top:50%;
    transform: translateY(-50%);
    right: 100%;
    border-radius: 3px;
    box-shadow: 0 0 20px #00000060;
    z-index: 1;
    transition: .2s;
}
.img-question:hover::after{
    content: "";
}
.img-question:hover::before{
    content: "이미지는 최대 3개 까지 가능합니다.";
}
/* 모달 */
/* reserveSend.html */
.reserveSend .modal-wrap{
    width: 500px;
}
.reserveSend #calendar{
    margin: auto;
    width: 450px;
    height: 350px;
}
/* bookmarkMsg */
.bookmarkMsg .modal-wrap{
    width: 800px;
    max-width: none;
}
.bookmarkMsg .modal-con{
    max-height: 600px;
    overflow-y: auto;
}
.bookmarkMsg .modal-wrap .card{
    height: 200px;
    overflow: hidden;
    transition: .2s;
}
.bookmarkMsg .modal-wrap .card:hover{
    border: 1px solid #0d6efd;
    box-shadow: 0 0 10px #00000020;
}
.bookmarkMsg .modal-wrap textarea{
    resize: none;
    border: none;
    height: 100%;
    cursor: default;
}
.x_btn{
    background: #dee2e6;
    border-radius: 0 .375rem;
    width: 30px;
    height: 30px;
    transition: .2s;
}
.x_btn:hover{
    background: #0d6efd;
    color: #fff;
}