<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="addUser">
    <div class="modal-bg addUser">
        <div class="modal-wrap">
            <div class="modal-hd">
                <span class="font-sz-16 font-weight-600">사용자 등록</span>
                <button class="close_btn">
	                <i class="bi bi-x-lg"></i>
	                <span class="visually-hidden">닫기</span>
                </button>
            </div>
            <div class="modal-con">
                <div class="mb-3 row">
                    <div class="col-6 mb-3">
                        <label class="d-block mb-1">사용자 등급</label>
                        <select name="user_grade_data" id="user_grade_data" class="form-select">
                            <option value="0">슈퍼관리자</option>
                            <option value="1">관리자</option>
                            <option value="2">사용자</option>
                            <option value="3">운영자</option>
                        </select>
                    </div>
                    <div class="col-6 mb-3">
                        <label class="d-block mb-1">구분</label>
                        <select name="" id="company_code_data" class="form-select">
                            <option value="0">옥션</option>
                            <option value="1">지마켓</option>
                        </select>
                    </div>      
                    <div class="col-6 mb-3">
                        <label class="d-block mb-1">사용자 ID</label>
                        <input type="text" class="form-control" name="user_id_data" id="user_id_data" placeholder="사용자 ID를 입력하세요.">
                    </div>
                    <div class="col-6 mb-3">
                        <label class="d-block mb-1">사용자 암호</label>
                        <input type="text" class="form-control" name="user_psw_data" id="user_psw_data"  placeholder="사용자 암호를 입력하세요.">
                    </div>  
                    <div class="col-6 mb-3">
                        <label class="d-block mb-1">사용자 이름</label>
                        <input type="text" class="form-control" name="user_name_data" id="user_name_data" placeholder="사용자 이름을 입력하세요.">
                    </div>
                    <div class="col-6 mb-3">
                        <label class="d-block mb-1">전화번호</label>
                        <input type="text" class="form-control" name="user_phone1_data" id="user_phone1_data"  placeholder="전화번호를 입력하세요.">
                    </div>  
                    <div class="col-6 mb-3">
                        <label class="d-block mb-1">핸드폰 번호</label>
                        <input type="text" class="form-control" name="user_phone2_data" id="user_phone2_data" placeholder="핸드폰 번호를 입력하세요.">
                    </div>
                    <div class="col-6 mb-3">
                        <label class="d-block mb-1">엑셀 발송 기능</label>
                        <select name="user_excel_data" id="user_excel_data" class="form-select">
                            <option value="0">사용</option>
                            <option value="1">미사용</option>
                        </select>
                    </div>  
                    <div class="col-6 mb-3">
                        <label class="d-block mb-1">파일 발송 기능</label>
                        <select name="user_file_data" id="user_file_data" class="form-select">
                            <option value="0">사용</option>
                            <option value="1">미사용</option>
                        </select>
                    </div>
                    <div class="col-6 mb-3">
                        <label class="d-block mb-1">DB 발송 기능</label>
                        <select name="user_DB_data" id="user_DB_data" class="form-select">
                            <option value="0">사용</option>
                            <option value="1">미사용</option>
                        </select>
                    </div>          
                    <div class="col-6 mb-3">
                        <label class="d-block mb-1">LMS 발송 기능</label>
                        <select name="user_LMS_data" id="user_LMS_data" class="form-select">
                            <option value="0">사용</option>
                            <option value="1">미사용</option>
                        </select>
                    </div>
                    <div class="col-6 mb-3">
                        <label class="d-block mb-1">MMS 발송 기능</label>
                        <select name="user_MMS_data" id="user_MMS_data" class="form-select">
                            <option value="0">사용</option>
                            <option value="1">미사용</option>
                        </select>
                    </div>    
                    <div class="col-6">
                        <label class="d-block mb-1">계정 상태</label>
                        <select name="user_yn_data" id="user_yn_data" class="form-select">
                            <option value="Y">사용</option>
                            <option value="N">미사용</option>
                        </select>
                    </div>                                   
                </div>                
            </div>
            <div class="modal-ft">
                <button type="button" class="bg-secondary me-2 clear_btn">초기화</button>
                <button type="button" class="sub-bg add_btn">저장</button>
            </div>
        </div>
    </div>
    
</th:block>
</html>