<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/bootstrap-icons.min.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/fonts.css}">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	
	<!-- DevExtreme theme -->
	<link rel="stylesheet" th:href="@{/css/devextreme/dx.fluent.blue.light.css}" />

	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/devextreme/jquery.min.js}"></script>

	<script th:src="@{/js/rsa/jsbn.js}"></script>
	<script th:src="@{/js/rsa/rsa.js}"></script>
	<script th:src="@{/js/rsa/prng4.js}"></script>
	<script th:src="@{/js/rsa/rng.js}"></script>

	<script th:src="@{/js/rsa/jsrsasign-all-min.js}"></script>
	
	<!-- DevExtreme library -->
	<script th:src="@{/js/devextreme/dx.all.js}"></script>
	
	<!-- DevExtreme License Key -->
	<script th:src="@{/js/devextreme/devextreme-license.js}"></script>

	<title>Gmarket</title>
</head>

<body>
	<div id="gm_login" class="d-flex flex-column justify-content-center align-items-center">
		<form id="loginForm" name="loginForm" th:method="post" th:action="@{/login-process}"
			class="d-flex flex-column align-items-center rounded-3 bg-white position-relative">
			<h1>
				<img th:src="@{/images/logo.png}" alt="G마켓로고">
			</h1>
			<span class="login_span font-sz-20 font-weight-600">로그인</span>
			<div class="write_wrap mt-2">
				<div class="d-flex flex-column my-3">
					<label for="userId" class="font-weight-500">ID</label>
					<input class="py-2" type="text" name="userId" id="userId" value="super" placeholder="아이디를 입력해 주세요.">
				</div>
				<div class="d-flex flex-column mt-3 mb-2">
					<label for="password" class="font-weight-500">Password</label>
					<input class="py-2" type="password" name="userPwd" id="password" value="dinnovan1234"
						placeholder="비밀번호를 입력해 주세요.">
				</div>				
				<div id="saveIdWrap" class="d-flex justify-content-end mb-4">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" name="saveId" value="" id="saveId">
						<label class="form-check-label text-nowrap" for="saveId">
							아이디 저장
						</label>
					</div>
				</div>								
				<button type="button" id="loginBtn" class="login_btn">로그인</button>
<!--				<div class="text-center mt-3">-->
<!--					<a href="javascript:void(0);" class="find_psw font-sz-14 font-weight-100">비밀번호 찾기</a>-->
<!--				</div>-->
			</div>
<!--			<div class="position-absolute end-0 activeXdownload">-->
<!--				<button type="button" class="text-nowrap text-666"><i class="bi bi-download me-1"></i>ActiveX 수동 설치</button>-->
<!--			</div>-->
		</form>		
	</div>
	<th:block th:replace="~{/view/popup/excelWebSetup :: excelWebSetup}"></th:block>
	<input type="hidden" id="publicKeyModulus" name="publicKeyModulus" th:attr="value=${RSA_MODULUS}">
	<input type="hidden" id="publicKeyExponent" name="publicKeyExponent" th:attr="value=${RSA_EXPONENT}">

	<th:block th:if="${DUPLICATE_LOGIN}">
		<script>
			alert("다른 기기에서 로그인되어 현재 로그인이 종료되었습니다.");
		</script>
	</th:block>
	<th:block th:if="${NOT_USE}">
		<script>
			alert("현재 계정이 잠겨있습니다. 관리자에게 문의하세요.");
		</script>
	</th:block>
	<th:block th:if="${NOT_USER}">
		<script>
			alert("현재 계정을 찾을 수 없습니다. 관리자에게 문의하세요.");
		</script>
	</th:block>
	<th:block th:if="${PASSWORD_NOT_MATCH}">
		<script>
			alert("비밀번호가 일치하지 않습니다. 다시 입력해주세요.");
		</script>
	</th:block>
	<th:block th:if="${USER_ID_EMPTY}">
		<script>
			alert("사용자 아이디를 입력해주세요.");
		</script>
	</th:block>
	<th:block th:if="${USER_INFO_INCORRECT}">
		<script>
			alert("올바르지 않은 사용자 정보입니다.");
		</script>
	</th:block>
	<th:block th:if="${USER_FAILD}">
		<script>
			alert("예기치 못한 오류가 발생했습니다.");
		</script>
	</th:block>


	<script th:inline="javascript">
		sessionStorage.removeItem('passwordResetDialogShown');	// 비밀번호 초기화 여부
		
		// 쿠키에 아이디 저장 값이 있는지 확인
		const cookieFlag = getCookie('saveId');
		$("#userId").val(cookieFlag ? cookieFlag : '');
		$("input[name='saveId']").attr('checked', cookieFlag ? true : false);
		
		$("#loginBtn").click(function (e) {
			e.preventDefault();

			const userId = $("#userId").val();
			const password = $("#password").val();
			const saveId = $("input[name='saveId']").is(":checked");
			
			// 쿠키에 아이디 저장
			if(saveId) setCookie('saveId', userId);
			else removeCookie('saveId');
			
			if (userId == null || userId == "") {
				alert("사용자 아이디를 입력하세요.");
				return;
			}

			if (password == null || password == "") {
				alert("비밀번호를 입력하세요.");
				return;
			}

			// RSA 암호 코드
			const publicKeyModulus = $("#publicKeyModulus").val();
			const publicKeyExponent = $("#publicKeyExponent").val();
			
			if(publicKeyModulus.length > 0 && publicKeyExponent.length > 0) {
				// RSA 암호화
				let rsa = new RSAKey();
				rsa.setPublic(publicKeyModulus, publicKeyExponent);

				const encrypted = rsa.encrypt(password);
				const base64 = hex2b64(encrypted);

				$("#password").val(encodeURIComponent(base64));

				$("#loginForm").submit();
			} else {
				alert("암호화 키가 올바르지 않습니다.");
				location.reload();
			}
		});
		
		// ActiveX 수동 설치 팝업
		$(".activeXdownload button").click(function(){
			$(".excelWebSetup").addClass("d-block");
		});
		
		$(".excelWebSetup .close_btn").click(function(){
			$(".modal-bg").removeClass("d-block");
		});
		
	</script>
</body>