<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="topMenuLayout">
    <header>
        <div class="container d-flex justify-content-between align-items-center position-relative">
            <div class="logo">
                <a href="/" th:href="@{/}">
                    <img th:src="@{/images/logo.png}" alt="지마켓로고">
                </a>
            </div>
            <a href="#" class="user_profile d-flex align-items-center">
                <div class="user_img">
                    <img th:src="@{/images/user.png}" alt="사용자 이미지">
                </div>
                <div class="ms-2 text-center">
                    <div class="user_nm font-weight-500">
                        사용자
                    </div>
                    <div class="user_grade">
                        관리자
                    </div>
                </div>                
            </a>
            <button class="psw_chg_btn">
                비밀번호 변경
            </button>
        </div>
    </header>
    <header>
        <div class="container d-flex justify-content-between align-items-center">
            <ul class="gnb d-flex justify-content-between align-items-center">
                <li class="active"><a href="#"><i class="bi bi-list-task me-2"></i>이력조회</a></li>
                <li><a href="#"><i class="bi bi-menu-up me-2"></i>개별발송</a></li>
                <li class="sendmenu">
                    <a href="#"><i class="bi bi-envelope-arrow-up me-2"></i>대량발송 <i class="bi bi-chevron-down font-sz-12"></i></a>
                    <ul class="flex-column align-items-center">                        
                        <li><a href="#">엑셀발송</a></li>
                        <li><a href="#">파일발송</a></li>
                        <li><a href="#">DB발송</a></li>
                        <li><a href="#">대량발송 이력</a></li>
                    </ul>
                </li>
                
                <li><a href="#"><i class="bi bi-envelope-paper me-2"></i>대기 메시지 조회</a></li>
                <li><a href="#"><i class="bi bi-bar-chart-line me-2"></i>실시간 발송현황</a></li>
                <li><a href="#"><i class="bi bi-archive me-2"></i>정산/통계 조회</a></li>
                <li><a href="#"><i class="bi bi-sliders2 me-2"></i>사용자 관리</a></li>
            </ul>
            <!-- <ul class="settings">
                <li><a href="#"><i class="bi bi-gear me-2"></i>설정</a></li>
            </ul> -->
        </div>
    </header>
    <th:block th:replace="~{passwordChg :: passwordChg}"></th:block>
</th:block>
</html>