<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="addUser">
	<div id="user_add_modal" class="modal-bg addUser">
		<div class="modal-wrap">
			<div class="modal-hd">
				<span class="font-sz-16 font-weight-600">사용자 등록</span>
				<button class="close_btn" id="close_btn">
					<i class="bi bi-x-lg"></i>
					<span class="visually-hidden">닫기</span>
				</button>
			</div>
			<div class="modal-con">
				<div class="mb-3 row">
					<div class="col-6 mb-3">
						<label class="d-block mb-1">사용자 등급</label>
						<select name="userGrade" id="user_grade_data" class="form-select select_2">
							<option value="0">슈퍼관리자</option>
							<option value="1">관리자</option>
							<option value="2">사용자</option>
							<option value="3">운영자</option>
						</select>
					</div>
					<div class="col-6 mb-3">
						<label class="d-block mb-1">구분</label>
						<select name="companyCode" id="company_code_data" class="form-select select_0">
							<option value="0">옥션</option>
							<option value="1">지마켓</option>
						</select>
					</div>
					<div class="col-6 mb-3">
						<label class="d-block mb-1">* 사용자 ID</label>
						<input type="text" class="form-control" name="userId" id="user_id_data" data-type="userId"
							placeholder="사용자 ID를 입력하세요.">
					</div>
					<div class="col-6 mb-3">
						<label class="d-block mb-1">* 사용자 암호</label>
						<input type="password" class="form-control" name="userPwd" id="user_psw_data"
							data-type="password" placeholder="사용자 암호를 입력하세요.">
					</div>
					<div class="col-6 mb-3">
						<label class="d-block mb-1">* 사용자 이름</label>
						<input type="text" class="form-control" name="userName" id="user_name_data" data-type="userName"
							placeholder="사용자 이름을 입력하세요.">
					</div>
					<div class="col-6 mb-3">
						<label class="d-block mb-1">전화번호</label>
						<input type="text" class="form-control" name="hpNo" id="user_phone1_data" data-type="phoneNum"
							placeholder="전화번호를 입력하세요.">
					</div>
					<div class="col-6 mb-3">
						<label class="d-block mb-1">핸드폰 번호</label>
						<input type="text" class="form-control" name="telNo" id="user_phone2_data" data-type="phoneNum"
							placeholder="핸드폰 번호를 입력하세요.">
					</div>
					<!--					<div class="col-6 mb-3">-->
					<!--						<label class="d-block mb-1">EMAIL</label>-->
					<!--						<input type="text" class="form-control" name="email" id="user_email_data" data-type="email" placeholder="EMAIL를 입력하세요.">-->
					<!--					</div>-->
					<div class="col-6 mb-3">
						<label class="d-block mb-1">SMS 발송 기능</label>
						<select name="smsYn" id="user_sms_data" class="form-select select_Y">
							<option value="Y" selected>사용</option>
							<option value="N">미사용</option>
						</select>
					</div>
					<div class="col-6 mb-3">
						<label class="d-block mb-1">엑셀 발송 기능</label>
						<select name="excelYn" id="user_excel_data" class="form-select select_N">
							<option value="Y">사용</option>
							<option value="N" selected>미사용</option>
						</select>
					</div>
					<div class="col-6 mb-3">
						<label class="d-block mb-1">파일 발송 기능</label>
						<select name="fileYn" id="user_file_data" class="form-select select_N">
							<option value="Y">사용</option>
							<option value="N" selected>미사용</option>
						</select>
					</div>
					<div class="col-6 mb-3">
						<label class="d-block mb-1">DB 발송 기능</label>
						<select name="dbYn" id="user_db_data" class="form-select select_N">
							<option value="Y">사용</option>
							<option value="N" selected>미사용</option>
						</select>
					</div>
					<div class="col-6 mb-3">
						<label class="d-block mb-1">LMS 발송 기능</label>
						<select name="lmsYn" id="user_lms_data" class="form-select select_N">
							<option value="Y">사용</option>
							<option value="N" selected>미사용</option>
						</select>
					</div>
					<div class="col-6 mb-3">
						<label class="d-block mb-1">MMS 발송 기능</label>
						<select name="mmsYn" id="user_mms_data" class="form-select select_N">
							<option value="Y">사용</option>
							<option value="N" selected>미사용</option>
						</select>
					</div>
					<div class="col-6">
						<label class="d-block mb-1">계정 상태</label>
						<select name="useYn" id="use_yn_data" class="form-select select_Y">
							<option value="Y" selected>사용</option>
							<option value="N">미사용</option>
						</select>
					</div>
				</div>
				<input type="hidden" id="publicKeyModulus" name="publicKeyModulus">
				<input type="hidden" id="publicKeyExponent" name="publicKeyExponent">
			</div>
			<div class="modal-ft">
				<button type="button" class="bg-secondary me-2 clear_btn" id="reset_btn">초기화</button>
				<button type="button" class="sub-bg add_btn" id="save_btn">저장</button>
			</div>
		</div>
	</div>
</th:block>

</html>