<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="bookmarkMsg">
    <div class="modal-bg bookmarkMsg">
        <div class="modal-wrap">
            <div class="modal-hd">
                <span class="font-sz-16 font-weight-600">내 문자함</span>
                <button class="close_btn"><i class="bi bi-x-lg"></i><span class="visually-hidden">닫기</span></button>
            </div>
            <div class="modal-con">
                <ul class="row row-cols-1 row-cols-md-3 g-4">
                    <li class="col">
                        <div class="card">
                            <div class="btn_wrap d-flex justify-content-end align-items-center">   
                                <button class="x_btn">
                                    <i class="bi bi-x-lg"></i>
                                    <span class="visually-hidden">삭제</span>
                                </button>
                            </div>                            
                            <textarea class="msg_content p-2 w-100" readonly>흠,,,( •̀ ω •́ )✧</textarea>
                        </div>
                    </li>
                    <li class="col">
                        <div class="card">
                            <div class="btn_wrap d-flex justify-content-end align-items-center">
                                <button class="x_btn">
                                    <i class="bi bi-x-lg"></i>
                                    <span class="visually-hidden">삭제</span>
                                </button>
                            </div>                            
                            <textarea class="msg_content p-2 w-100" readonly>자일리톨스톤레몬향캔디 과량 섭취 시 설사를 일으킬 수 잇씁니다. 제품이 단단하므로 섭취 시 치아손상에 주의하세요. 제품을 삼킬 경우 질식 또는 식도 손상의 위험이 있습니다. 동물에게 먹이지 마세요.</textarea>
                        </div>
                    </li>
                    <li class="col">
                        <div class="card">
                            <div class="btn_wrap d-flex justify-content-end align-items-center">
                                <button class="x_btn">
                                    <i class="bi bi-x-lg"></i>
                                    <span class="visually-hidden">삭제</span>
                                </button>
                            </div>                            
                            <textarea class="msg_content p-2 w-100" readonly>자일리톨스톤레몬향캔디 과량 섭취 시 설사를 일으킬 수 잇씁니다. 제품이 단단하므로 섭취 시 치아손상에 주의하세요. 제품을 삼킬 경우 질식 또는 식도 손상의 위험이 있습니다. 동물에게 먹이지 마세요. 부정, 불량 식품신고는 국번없이 1399, 본 제품은 공정거래위원회 고시 소비자분쟁해결 기준에 의거 교환 또는 보상을 받을 수 있습니다.</textarea>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-ft">
                <button type="button" class="sub-bg close_btn">닫기</button>
            </div>
        </div>
    </div>
</th:block>
</html>