<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="bookmarkMsg">
    <div class="modal-bg bookmarkMsg">
        <div class="modal-wrap">
            <div class="modal-hd">
                <span class="font-sz-16 font-weight-600">내 문자함</span>
                <button class="close_btn"><i class="bi bi-x-lg"></i><span class="visually-hidden">닫기</span></button>
            </div>
            <div id="msg-card-view" class="rounded-0"></div>
        </div>
    </div>
</th:block>
</html>