<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 		
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/bootstrap-icons.min.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/fonts.css}">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<script th:src="@{/js/common.js}"></script>
	<title>스마일캐시 모니터링 상세</title>
	
	<!-- DevExtreme theme -->
	<link rel="stylesheet" th:href="@{/css/devextreme/dx.fluent.blue.light.css}" />
	
	<!-- DevExtreme library -->
	<script th:src="@{/js/devextreme/jquery.min.js}"></script>
	<script th:src="@{/js/devextreme/dx.all.js}"></script>
	<script th:src="@{/js/devextreme/exceljs.min.js}"></script>
	<script th:src="@{/js/devextreme/FileSaver.min.js}"></script>
	<script th:src="@{/js/devextreme/localization/dx.messages.ko.js}"></script>
	
	<!-- DevExtreme License Key -->
	<script th:src="@{/js/devextreme/devextreme-license.js}"></script>
</head>
<body>
	<div class="detail-container">
		<!-- 왼쪽: dxList -->
		<div class="detail-left">
			<div class="list-header">서비스 목록</div>
			<div id="listPanel"></div>
		</div>
		
		<!-- 오른쪽: dxChart -->
		<div class="detail-right">
			<div id="chartToolbar" style="height:40px; display:flex; gap:8px; align-items:center;">
				<span>스마일캐시 서비스별 모니터링</span>
			</div>
			<div id="chartPanel"></div>
		</div>
	</div>
<script th:inline="javascript">
	const tasks = /*[[${list}]]*/ [];
</script>
<script>
	<!-- 한국어 적용(ko-KR) -->
	DevExpress.localization.locale(navigator.language);
	
	const smillcashCode = 2;
	let refreshInterval = 10; // 기본 10초
	let refreshTimer = null;
	// 쿠키에 있는 값 가져오기
	const cookieValue = getCookie('manageListSmilecash');
	
	$(function() {
		let selectedIds = [];
		
		if (Array.isArray(cookieValue) && cookieValue.length > 0) {
		    selectedIds = cookieValue.map(item => item.tableCode);
		} else {
			selectedIds = tasks.length > 6 ? tasks.sort(() => 0.5 - Math.random()).slice(0, 6) : tasks;
		}
		
		// dxList 초기화
		const listWidget = $('#listPanel').dxList({
			dataSource: new DevExpress.data.DataSource({
				store: new DevExpress.data.ArrayStore({
					key: 'tableCode',
					data: tasks,
				}),
			}),
			displayExpr: "svcName",
			showSelectionControls: true,
			selectByClick: true,
			selectionMode: 'all',
			pageLoadMode: 'scrollBottom',
			selectedItemKeys: selectedIds,
			onSelectionChanged(e) {
				// const selectedKeys = listWidget.option('selectedItemKeys').join(', ');
				// console.log(selectedKeys);
				
				// 더미 데이터 생성 & 차트 갱신
				const selectedItems = listWidget.option('selectedItems'); // 배열
				restartChartTimer(selectedItems);
			},
		}).dxList('instance');
		
		// 차트 생성
		makeChart();
	   	restartChartTimer(cookieValue);
	});
	
	// 인터벌 타이머 재시작
	function restartChartTimer(data) {
	    if (refreshTimer) clearInterval(refreshTimer);
		updateChartData(data);
	    refreshTimer = setInterval(() => updateChartData(data), refreshInterval * 1000);
	}
	
	// 차트 데이터 갱신
	function updateChartData(taskList, cookieValue) {

		const tableCodeList = taskList.map(({ tableCode }) => tableCode);	// 테이블 코드 목록
		
		fn_getChartData(tableCodeList, function(result) {
			
			const day = new Date();
		    const hh = String(day.getHours()).padStart(2, '0');
			const mi = String(day.getMinutes()).padStart(2, '0');
			const ss = String(day.getSeconds()).padStart(2, '0');
			
			const item = { date: `${hh}${mi}${ss}` };
			
			if(Array.isArray(result) && result.length > 0) {
				
				result.forEach(({ tableCode, sendCnt }) => {
					const name = (taskList.find(item => item.tableCode == tableCode) || {}).svcName || '';
					
					item[name] = Number(sendCnt);
				});
			}
			 
			const chart = $('#chartPanel').dxChart("instance");
			
			// 시리즈 정의
			const series = taskList.map(task => ({
				valueField: task.svcName,
				name: task.svcName,
				type: "line"
			}));
			
			// 기존 데이터 가져오기
			let dataSource = chart.option("dataSource") || [];

			// 데이터 개수 제한 (10개 초과 시 앞에서 제거)
			if (dataSource.length >= 10) dataSource.shift();
			
			// 차트 갱신
			chart.option("series", series);
			chart.option("dataSource").push(item);
			chart.refresh();
		});
	}
	
	// 차트 데이터 가져오기
	function fn_getChartData(list, successCallbock) {
		
		const formData = new FormData();
		formData.append("companyCode", smillcashCode);
		formData.append("codeList", list);
		
		$.ajax({
			type: "POST",
			url: '/api/v1/real/tableList',
			data: formData,
			processData: false,
			contentType: false,
			success: function(data) {
				if (typeof successCallbock === 'function') {
					successCallbock(data);
				}
			},
			error: function(xhr, status, error) {
				console.error("차트 데이터 요청 실패:", xhr, status, error); // 기본 에러 처리
				showDialogCustom('error');
			}
		});
	}
	
	// 차트 기본 생성
	function makeChart() {
		$('#chartPanel').dxChart({
			dataSource: [],
			series: [],
			commonSeriesSettings: {
			    argumentField: "date",
			    type: "line"
			},
			legend: {
			    visible: true,
			    orientation: "horizontal",
			    horizontalAlignment: "center", // 좌우
			    verticalAlignment: "top", // 상하
			    itemTextPosition: "right",
			},
			argumentAxis: {
			    type: 'discrete',       // 불규칙 x값 허용
			    argumentType: 'string', // 날짜/숫자 그대로 표시
			    label: {
			        customizeText(arg) {
			            return arg.value; // 마지막 2자리(HH)만
			        }
			    }
			},
			tooltip: {
				enabled: true,
				customizeTooltip(arg) {
					return {
						text: `${arg.seriesName}\n${arg.argumentText.slice(-2)}시\n${arg.valueText}건`
					};
				}
			}
		}).dxChart("instance");
	}
	
	// 쿠키 가져오기
	function getCookie(name) {
	    const nameEQ = name + "=";
	    const cookies = document.cookie.split(';');
	    for(let c of cookies) {
	        c = c.trim();
	        if (c.indexOf(nameEQ) === 0) return JSON.parse(decodeURIComponent(c.substring(nameEQ.length)));
	    }
	    return null;
	}
</script>
</body>
</html>
