<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="manage">
    <div class="modal-bg manage">
        <div class="modal-wrap">
            <div class="modal-hd">
                <span class="font-sz-16 font-weight-600">서비스 목록 관리</span>
                <button class="close_btn" onclick="closeModal('manage')"><i class="bi bi-x-lg"></i><span class="visually-hidden">닫기</span></button>
            </div>
            <div class="modal-con p-3">
                <div id="manageList"></div>
            </div>
            <div class="modal-ft">
				<button type="button" class="sub-bg">저장</button>
			</div>
        </div>
    </div>
</th:block>
</html>