<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="passwordChg">
	<div class="modal-bg passwordChg">
		<div class="modal-wrap">
			<div class="modal-hd">
				<span class="font-sz-16 font-weight-600">비밀번호 변경</span>
				<button class="close_btn">
					<i class="bi bi-x-lg"></i>
					<span class="visually-hidden">닫기</span>
				</button>
			</div>
			<div class="modal-con">
				<input type="hidden" id="pwd_chg_user_id" th:value="${#authentication.principal.userId}">
				<div class="mb-3 row">
					<div class="col-6">
						<label class="d-block mb-2">새 비밀번호</label>
						<input type="password" class="form-control" name="new-psw" id="new-psw" placeholder="새 비밀번호를 입력하세요.">
					</div>
					<div class="col-6">
						<label class="d-block mb-2">새 비밀번호 확인</label>
						<input type="password" class="form-control" name="new-psw2" id="new-psw2" placeholder="새 비밀번호를 확인하세요.">
					</div>
					<div class="d-flex align-items-center justify-content-end">
						<span id="psw-ck"></span>
					</div>
				</div>
				<span class="text-red" style="font-size: 13px;">※ 안전한 비밀번호를 위해 8~20자리로 설정해 주세요.<br/>영문, 숫자, 특수문자(!@#$%&)를 각각 하나 이상 포함해야 합니다.</span>
			</div>
			<div class="modal-ft">
				<button type="button" id="password_chg_save" class="sub-bg">저장</button>
			</div>
		</div>
	</div>
	<script>
		// 비밀번호 변겅
		const password_chg_save = document.getElementById("password_chg_save");

		password_chg_save.addEventListener('click', function(e) {
			e.preventDefault();

			const pw1 = document.getElementById('new-psw');
			const pw2 = document.getElementById('new-psw2');
			const reg = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%&])[A-Za-z\d!@#$%&]{8,20}$/;
			
			const pw1Val = pw1.value;
			const pw2Val = pw2.value;

			if (isEmpty(pw1Val)) {
			    showDialogCustom('비밀번호를 입력해주세요.');
			    return;
			}
			
			if (isEmpty(pw2Val)) {
			    showDialogCustom('비밀번호를 다시 입력해주세요.');
			    return;
			}
			
			if (!(pw1Val === pw2Val)) {
			    showDialogCustom('비밀번호가 일치하지 않습니다.');
			    return;
			}

			if (!(reg.test(pw1Val))) {
			    showDialogCustom('비밀번호 형식이 올바르지 않습니다.');
			    return;
			}
			
			postAjax('/api/v1/user/rsa', {}, function callback(data) {

				const publicKeyModulus = data.RSA_MODULUS;
				const publicKeyExponent = data.RSA_EXPONENT;
				
				if(publicKeyModulus != "" && publicKeyExponent != "") {
					// RSA 암호화
					let rsa = new RSAKey();
					rsa.setPublic(publicKeyModulus, publicKeyExponent);

					const encrypted = rsa.encrypt(pw1Val);
					const base64 = hex2b64(encrypted);

					let formData = new FormData();
					formData.append("userId", $("#pwd_chg_user_id").val());
					formData.append("userPwd", encodeURIComponent(base64));

					putFormAjax("/api/v1/user/passwordChg", formData, function callback(data) {
						const code = data.code;
						const result = data.result;

						if (code == 1000) {
							showDialogCustom('비밀번호가 변경되었습니다.', function (){
								pw1.value = '';
								pw2.value = '';
								document.getElementById('psw-ck').textContent = '';
								document.querySelector('.passwordChg').classList.remove('d-block');
							});
							
						} 
						else if (code == 9003) showDialogCustom(result);
						else showDialogCustom('비밀번호 변경에 실패했습니다.');
					});
				} else {
					showDialogCustom("암호화 키가 올바르지 않습니다.");
					location.reload();
				}
			});
		});
	</script>
</th:block>

</html>