<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="reserveSend">
    <div class="modal-bg reserveSend">
        <div class="modal-wrap">
            <div class="modal-hd">
                <span class="font-sz-16 font-weight-600">예약 발송 시간</span><button class="close_btn"><i class="bi bi-x-lg"></i><span class="visually-hidden">닫기</span></button>
            </div>
            <div class="modal-con">
                <div id="calendar"></div>
                <div class="d-flex justify-content-between align-items-center mt-2">
                    <div class="date font-weight-600">날짜를 선택해 주세요.</div>
                    <div class="col-6 d-flex">
                        <select name="hour" id="hour" class="form-select me-1">
                            <option value="00">00시</option>
                            <option value="01">01시</option>
                            <option value="02">02시</option>
                            <option value="03">03시</option>
                            <option value="04">04시</option>
                            <option value="05">05시</option>
                            <option value="06">06시</option>
                            <option value="07">07시</option>
                            <option value="08">08시</option>
                            <option value="09">09시</option>
                            <option value="10">10시</option>
                            <option value="11">11시</option>
                            <option value="12">12시</option>
                            <option value="13">13시</option>
                            <option value="14">14시</option>
                            <option value="15">15시</option>
                            <option value="16">16시</option>
                            <option value="17">17시</option>
                            <option value="18">18시</option>
                            <option value="19">19시</option>
                            <option value="20">20시</option>
                            <option value="21">21시</option>
                            <option value="22">22시</option>
                            <option value="23">23시</option>                            
                        </select>
                        <select name="minute" id="minute" class="form-select ms-1">
                            <option value="00">00분</option>
                            <option value="05">05분</option>
                            <option value="10">10분</option>
                            <option value="15">15분</option>
                            <option value="20">20분</option>
                            <option value="25">25분</option>
                            <option value="30">30분</option>
                            <option value="35">35분</option>
                            <option value="40">40분</option>
                            <option value="45">45분</option>
                            <option value="50">50분</option>
                            <option value="55">55분</option>                            
                        </select>
<!--						<select name="second" id="second" class="form-select ms-1">-->
<!--							<option value="00">00초</option>-->
<!--							<option value="01">01초</option>-->
<!--							<option value="02">02초</option>-->
<!--							<option value="03">03초</option>-->
<!--							<option value="04">04초</option>-->
<!--							<option value="05">05초</option>-->
<!--							<option value="06">06초</option>-->
<!--							<option value="07">07초</option>-->
<!--							<option value="08">08초</option>-->
<!--							<option value="09">09초</option>-->
<!--							<option value="10">10초</option>-->
<!--							<option value="11">11초</option>-->
<!--							<option value="12">12초</option>-->
<!--							<option value="13">13초</option>-->
<!--							<option value="14">14초</option>-->
<!--							<option value="15">15초</option>-->
<!--							<option value="16">16초</option>-->
<!--							<option value="17">17초</option>-->
<!--							<option value="18">18초</option>-->
<!--							<option value="19">19초</option>-->
<!--							<option value="20">20초</option>-->
<!--							<option value="21">21초</option>-->
<!--							<option value="22">22초</option>-->
<!--							<option value="23">23초</option>-->
<!--							<option value="24">24초</option>-->
<!--							<option value="25">25초</option>-->
<!--							<option value="26">26초</option>-->
<!--							<option value="27">27초</option>-->
<!--							<option value="28">28초</option>-->
<!--							<option value="29">29초</option>-->
<!--							<option value="30">30초</option>-->
<!--							<option value="31">31초</option>-->
<!--							<option value="32">32초</option>-->
<!--							<option value="33">33초</option>-->
<!--							<option value="34">34초</option>-->
<!--							<option value="35">35초</option>-->
<!--							<option value="36">36초</option>-->
<!--							<option value="37">37초</option>-->
<!--							<option value="38">38초</option>-->
<!--							<option value="39">39초</option>-->
<!--							<option value="40">40초</option>-->
<!--							<option value="41">41초</option>-->
<!--							<option value="42">42초</option>-->
<!--							<option value="43">43초</option>-->
<!--							<option value="44">44초</option>-->
<!--							<option value="45">45초</option>-->
<!--							<option value="46">46초</option>-->
<!--							<option value="47">47초</option>-->
<!--							<option value="48">48초</option>-->
<!--							<option value="49">49초</option>-->
<!--							<option value="50">50초</option>-->
<!--							<option value="51">51초</option>-->
<!--							<option value="52">52초</option>-->
<!--							<option value="53">53초</option>-->
<!--							<option value="54">54초</option>-->
<!--							<option value="55">55초</option>-->
<!--							<option value="56">56초</option>-->
<!--							<option value="57">57초</option>-->
<!--							<option value="58">58초</option>-->
<!--							<option value="59">59초</option>-->
<!--                        </select>-->
                    </div>
                </div>
            </div>
            <div class="modal-ft">
                <button type="button" class="sub-bg">예약</button>
            </div>
        </div>
    </div>
</th:block>
</html>