<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.web.gmarket.alarm.mapper.AlarmMapper">

	<resultMap id="AlarmResultMap" type="com.web.gmarket.alarm.dto.AlarmDto">
		<result property="ALM_SEQ" column="ALM_SEQ" />
		<result property="COMPANY_CODE" column="COMPANY_CODE" />
		<result property="SERVER_ID" column="SERVER_ID" />
		<result property="SVC_NAME" column="SVC_NAME" />
		<result property="PROC_NAME" column="PROC_NAME" />
		<result property="TABLE_NAME" column="TABLE_NAME" />
		<result property="MON_TYPE" column="MON_TYPE" />
		<result property="MON_COMMENT" column="MON_COMMENT" />
		<result property="ALM_TYPE" column="ALM_TYPE" />
		<result property="ALM_COMMENT" column="ALM_COMMENT" />
		<result property="ALM_INFO" column="ALM_INFO" />
		<result property="ALM_DATE" column="ALM_DATE" />
	</resultMap>
	
	<select id="selectAlarmListCount" resultType="int" parameterType="com.web.gmarket.alarm.dto.AlarmDto">
		/*
			AlarmMapper.selectAlarmListCount
		*/
		SELECT COUNT(ALM_SEQ)
		FROM T_ALARM_STATUS
		WHERE 1 = 1
		<if test="companyCode > -1">
			AND COMPANY_CODE = #{companyCode}
		</if>
		<if test="serverId > -1">
			AND SERVER_ID = #{serverId}
		</if>
		<if test="startDate != null and endDate != null">
			AND ALM_DATE >= CONVERT(DATETIME, REPLACE(#{startDate}, '-', ''), 112)
			AND ALM_DATE<![CDATA[ < ]]>DATEADD(DAY, 1, CONVERT(DATETIME, REPLACE(#{endDate}, '-', ''), 112))
		</if>
		<if test='svcName != null and svcName != ""'>
			AND SVC_NAME = #{svcName}
		</if>
	</select>
	
	<select id="selectAlarmList" resultMap="AlarmResultMap" parameterType="com.web.gmarket.alarm.dto.AlarmDto">
		/*
			AlarmMapper.selectAlarmList
		*/
		SELECT 
			ALM_SEQ, COMPANY_CODE, SERVER_ID, SVC_NAME, PROC_NAME, TABLE_NAME,
			MON_TYPE, MON_COMMENT, ALM_TYPE, ALM_COMMENT, ALM_INFO, ALM_DATE
		FROM (
			SELECT
				ALM_SEQ, COMPANY_CODE, SERVER_ID, SVC_NAME, PROC_NAME, TABLE_NAME,
				MON_TYPE,
				CASE 
					WHEN MON_TYPE = 1 THEN 'DB 세션 단절'
					WHEN MON_TYPE = 2 THEN 'KT 세션 단절'
					WHEN MON_TYPE = 3 THEN 'S/W down'
					WHEN MON_TYPE = 4 THEN '미발송 적체'
					WHEN MON_TYPE = 5 THEN '결과대기 적체'
					ELSE '기타'
				END AS MON_COMMENT,
				ALM_TYPE,
				CASE
					WHEN ALM_TYPE = 1 THEN '발생'
					WHEN ALM_TYPE = 2 THEN '복구'
					ELSE '기타'
				END AS ALM_COMMENT,
				ISNULL(ALM_INFO, '-') AS ALM_INFO,
				CONVERT(char(19), ALM_DATE, 120) AS ALM_DATE
			FROM T_ALARM_STATUS
			WHERE 1 = 1
			<if test="companyCode > -1">
				AND COMPANY_CODE = #{companyCode}
			</if>
			<if test="serverId > -1">
				AND SERVER_ID = #{serverId}
			</if>
			<if test="startDate != null and endDate != null">
				AND ALM_DATE >= CONVERT(DATETIME, REPLACE(#{startDate}, '-', ''), 112)
				AND ALM_DATE<![CDATA[ < ]]>DATEADD(DAY, 1, CONVERT(DATETIME, REPLACE(#{endDate}, '-', ''), 112))
			</if>
			<if test='svcName != null and svcName != ""'>
				AND SVC_NAME = #{svcName}
			</if>
		) T
		<choose>
	  		<when test="sort != null and sort.size() > 0">
		ORDER BY
			<foreach collection="sort" item="s" separator=",">
				${s.selector}
				<choose>
					<when test="s.desc">DESC</when>
					<otherwise>ASC</otherwise>
				</choose>
			</foreach>
	  		</when>
	  		<otherwise>
	  	ORDER BY ALM_DATE DESC
	  		</otherwise>
	  	</choose>
		OFFSET #{skip} ROWS FETCH NEXT #{take} ROWS ONLY
	</select>
	
</mapper>