<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.web.gmarket.bulk.broad.mapper.BroadcastMsgMapper">

	<insert id="insertBroadcastMsg" parameterType="com.web.gmarket.bulk.broad.dto.BroadcastMsgDto">
		/*
			BroadcastMsgMapper.insertBroadcastMsg 대량 발송 등록
		*/
		<choose>
			<when test="timeType > 0">
				INSERT INTO T_BROADCAST_MSG (
					B_MSG_KEY, LOGIN_ID, USER_ID, TITLE, MSG, IN_TIME, CALLBACK_NO, REQ_TIME, CNT, SUCC_CNT, FAIL_CNT, STATUS, SVC_TYPE, SEND_INFO
				) VALUES(
					#{bMsgKey}, #{loginId}, #{userId}, #{title}, CAST(#{msg} AS VARCHAR(2000)), GETDATE(), #{callbackNo}, #{reqTime}, #{cnt}, #{succCnt}, #{failCnt}, #{status}, #{svcType}, #{sendInfo}
				)
			</when>
			<otherwise>
				INSERT INTO T_BROADCAST_MSG (
					B_MSG_KEY, LOGIN_ID, USER_ID, TITLE, MSG, IN_TIME, CALLBACK_NO, REQ_TIME, CNT, SUCC_CNT, FAIL_CNT, STATUS, SVC_TYPE, SEND_INFO
				) VALUES(
					#{bMsgKey}, #{loginId}, #{userId}, #{title}, CAST(#{msg} AS VARCHAR(2000)), GETDATE(), #{callbackNo}, ${reqTime}, #{cnt}, #{succCnt}, #{failCnt}, #{status}, #{svcType}, #{sendInfo}
				)
			</otherwise>
		</choose>
	</insert>
	
	<update id="updateBroadcastMsgCountByType">
		/*
			BroadcastMsgMapper.updateBroadcastMsgCountByType 대량 발송 타입별 성공 / 실패 카운트 업데이트
		*/
		<choose>
			<when test='cntType != null and cntType == "T"'>
				UPDATE T_BROADCAST_MSG SET SUCC_CNT = #{cnt} WHERE B_MSG_KEY = #{bMsgKey}
			</when>
			<when test='cntType != null and cntType == "F"'>
				UPDATE T_BROADCAST_MSG SET FAIL_CNT = #{cnt} WHERE B_MSG_KEY = #{bMsgKey}
			</when>
		</choose>
	</update>
	
	<update id="updateBroadcastMsgCount">
		/*
			BroadcastMsgMapper.updateBroadcastMsgCount 대량 발송 성공 / 실패 카운트 업데이트
		*/
			UPDATE T_BROADCAST_MSG SET SUCC_CNT = #{succCnt}, FAIL_CNT = #{failCnt} WHERE B_MSG_KEY = #{bMsgKey}
	</update>
	
</mapper>