<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.web.gmarket.bulk.hist.mapper.BulkHistMapper">

	<resultMap id="BulkHistResultMap" type="com.web.gmarket.bulk.hist.dto.BulkHistDto">
		<result property="B_MSG_KEY" column="B_MSG_KEY" />
		<result property="LOGIN_ID" column="LOGIN_ID" />
		<result property="USER_ID" column="USER_ID" />
		<result property="TITLE" column="TITLE" />
		<result property="MSG" column="MSG" />
		<result property="IN_TIME" column="IN_TIME"/>
		<result property="REQ_TIME" column="REQ_TIME" />
		<result property="CNT" column="CNT" />
		<result property="STATUS" column="STATUS" />
		<result property="SVC_TYPE" column="SVC_TYPE"/>
		<result property="B_SEQ" column="B_SEQ" />
		<result property="SUCC_CNT" column="SUCC_CNT" />
		<result property="FAIL_CNT" column="FAIL_CNT" />
	</resultMap>
	
	<select id="selectBulkHistList" resultMap="BulkHistResultMap">
		/*
			BulkHistMapper.selectBulkHistList
		*/
	
		(
		SELECT
			B_MSG_KEY,
			LOGIN_ID,
			USER_ID,
			TITLE,
			MSG,
			REPLACE( REPLACE( REPLACE( CONVERT(VARCHAR(19), IN_TIME, 120), '-', ''), ':', ''), ' ', '') AS IN_TIME,
			REPLACE( REPLACE( REPLACE( CONVERT(VARCHAR(19), REQ_TIME, 120), '-', ''), ':', ''), ' ', '') AS REQ_TIME,
			CNT,
			STATUS,
			SVC_TYPE,
			B_SEQ,
			SUCC_CNT,
			FAIL_CNT
		FROM
			T_BROADCAST_MSG
		WHERE REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), REQ_TIME, 120), '-', ''), ':', ''), ' ', '') <![CDATA[>=]]> #{startTime}
			AND REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), REQ_TIME, 120), '-', ''), ':', ''), ' ', '') <![CDATA[<=]]> #{endTime}
		<if test="bulkTitle != null and bulkTitle != ''">
			AND TITLE LIKE CONCAT('%', #{bulkTitle}, '%')
		</if>
		)
		
		<!-- DevExtreme 정렬 처리 -->
		<if test="sort != null and sort.size() > 0">
			ORDER BY
			<foreach collection="sort" item="s" separator=",">
				${s.selector}
				<choose>
					<when test="s.desc">DESC</when>
					<otherwise>ASC</otherwise>
				</choose>
			</foreach>
		</if>
		<if test="sort == null or sort.size() == 0">
			ORDER BY B_SEQ DESC
		</if>
		
		<!-- DevExtreme 페이징 처리 -->
		<if test="take != null and skip != null">
			OFFSET #{skip} ROWS FETCH NEXT #{take} ROWS ONLY
		</if>
	</select>
	
	<select id="selectBulkHistCount" resultType="int">
		/*
			BulkHistMapper.selectBulkHistCount
		*/
	
		SELECT COUNT(*) FROM (			
			SELECT 1 AS CNT
			FROM T_BROADCAST_MSG
			WHERE REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), REQ_TIME, 120), '-', ''), ':', ''), ' ', '') <![CDATA[>=]]> #{startTime}
				AND REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), REQ_TIME, 120), '-', ''), ':', ''), ' ', '') <![CDATA[<=]]> #{endTime}
			<if test="bulkTitle != null and bulkTitle != ''">
				AND TITLE LIKE CONCAT('%', #{bulkTitle}, '%')
			</if>		
		) TOTAL
	</select>
	
	<!-- TRAN_STATUS: 대기중(1) 전송중(2,3) 성공(4 + TRAN_RSLT='0') 실패(4 + TRAN_RSLT<>'0') 중복(5) -->
	<select id="selectBulkHistStatusCount" resultType="map">
		/*
			BulkHistMapper.selectBulkHistStatusCount
		*/
	
		<choose>
			<when test="monthTables != null and monthTables.size() > 0">
				SELECT
					COUNT(CASE WHEN TRAN_STATUS = 1 THEN 1 END) AS CNT_STANBY,
					COUNT(CASE WHEN TRAN_STATUS IN (2, 3) THEN 1 END) AS CNT_TRAN,
					COUNT(CASE WHEN TRAN_STATUS = 4 AND TRAN_RSLT = '0' THEN 1 END) AS CNT_SUCC,
					COUNT(CASE WHEN TRAN_STATUS = 5 THEN 1 END) AS CNT_DUP,
					COUNT(CASE WHEN TRAN_STATUS = 4 AND <![CDATA[TRAN_RSLT <> '0']]> THEN 1 END) AS CNT_SENDFAIL
				FROM (
				<foreach collection="monthTables" item="tableName" separator=" UNION ALL ">
					SELECT
						TRAN_STATUS,
						TRAN_RSLT,
						B_MSG_KEY
					FROM ${tableName}
					WHERE B_MSG_KEY = #{bulkMsgKey}
				</foreach>
				) T_BROADCAST
			</when>
		</choose>
	</select>
	
	<!-- TRAN_STATUS: 대기중(1) 전송중(2,3) 성공(4 + TRAN_RSLT='0') 실패(4 + TRAN_RSLT<>'0') 중복(5) -->
	<select id="selectTranPhoneList" resultType="string">
		/*
			BulkHistMapper.selectTranPhoneList
		*/
		<choose>
			<when test="monthTables != null and monthTables.size() > 0">
				SELECT TRAN_PHONE
				FROM (
					<foreach collection="monthTables" item="tableName" separator=" UNION ALL ">
						SELECT TRAN_PHONE
						FROM ${tableName}
						WHERE 
							( B_MSG_KEY = #{bulkMsgKey} AND TRAN_STATUS = 5 )
							OR 
							( B_MSG_KEY = #{bulkMsgKey} AND TRAN_STATUS = 4 AND <![CDATA[TRAN_RSLT <> '0']]> )
					</foreach>
				) A
			</when>
			<otherwise>
				SELECT TRAN_PHONE
				FROM ${svcType}
				WHERE 
					( B_MSG_KEY = #{bulkMsgKey} AND TRAN_STATUS = 5 )
					OR 
					( B_MSG_KEY = #{bulkMsgKey} AND TRAN_STATUS = 4 AND <![CDATA[TRAN_RSLT <> '0']]> )
			</otherwise>
		</choose>
	</select>
	
</mapper>