<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.web.gmarket.bulk.hist.mapper.BulkHistMapper">
	<resultMap id="BulkHistResultMap" type="com.web.gmarket.bulk.hist.dto.BulkHistDto">
		<result property="bulkMsgKey" column="B_MSG_KEY" />
		<result property="bulkLoginID" column="LOGIN_ID" />
		<result property="bulkUserID" column="USER_ID" />
		<result property="bulkTitle" column="TITLE" />
		<result property="bulkMsg" column="MSG" />
		<result property="bulkInTime" column="IN_TIME"/>
		<result property="bulkReqTime" column="REQ_TIME" />
		<result property="bulkCnt" column="CNT" />
		<result property="bulkStatus" column="STATUS" />
		<result property="bulkSvcType" column="SVC_TYPE"/>
		<result property="bulkSeq" column="B_SEQ" />
	</resultMap>
	
	<select id="selectBulkHistList" resultMap="BulkHistResultMap">
		SELECT
			B_MSG_KEY,
			LOGIN_ID,
			USER_ID,
			TITLE,
			MSG,
			REPLACE( REPLACE( REPLACE( CONVERT(VARCHAR(19), IN_TIME, 120), '-', ''), ':', ''), ' ', '') AS IN_TIME,
			REPLACE( REPLACE( REPLACE( CONVERT(VARCHAR(19), REQ_TIME, 120), '-', ''), ':', ''), ' ', '') AS REQ_TIME,
			CNT,
			STATUS,
			SVC_TYPE,
			B_SEQ
		FROM
			T_BROADCAST_MSG
		WHERE REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), REQ_TIME, 120), '-', ''), ':', ''), ' ', '') <![CDATA[>=]]> #{startTime}
			AND REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), REQ_TIME, 120), '-', ''), ':', ''), ' ', '') <![CDATA[<=]]> #{endTime}
		<if test="title != null and title != ''">
			AND TITLE LIKE CONCAT('%', #{title}, '%')
		</if>
	</select>
</mapper>