<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.web.gmarket.bulk.db.mapper.DbSendMapper">

	<resultMap id="DbSendResultMap" type="com.web.gmarket.bulk.db.dto.DbSendDto">
		<result property="reserved4" column="RESERVED4" />
		<result property="tranPr" column="TRAN_PR" />
		<result property="cnt" column="CNT" />
		<result property="resultCompany" column="RESULT_COMPANY" />
		<result property="resultTable" column="RESULT_TABLE" />
	</resultMap>
	
	<select id="selectDbSendList" resultMap="DbSendResultMap">
		/*
			DbSendMapper.selectDbSendList
		*/
		SELECT
			RESERVED4,
			CASE WHEN #{companyCode} = 0 THEN '옥션' ELSE '지마켓' END AS TRAN_PR,
			COUNT(RESERVED4) AS CNT,
			'${companyCode}' AS RESULT_COMPANY,
			'${tableName}' AS RESULT_TABLE
		FROM ${tableName}
		WHERE TRAN_STATUS IS NULL
		GROUP BY RESERVED4
		ORDER BY RESERVED4 DESC
	</select>
	
	<select id="selectDbSendCount" resultType="int">
		/*
			DbSendMapper.selectDbSendCount
		*/
		SELECT COUNT(*) AS CNT
		FROM (
			SELECT RESERVED4
			FROM ${tableName}
			WHERE TRAN_STATUS IS NULL
			GROUP BY RESERVED4
		) TOTAL
	</select>
	
	<delete id="deleteDbSend" parameterType="map">
		/*
			DbSendMapper.deleteDbSend
		*/
		DELETE FROM ${tableName}
		WHERE RESERVED4 = #{reserved4}
		AND TRAN_STATUS IS NULL
	</delete>
	
	<update id="updateDbSend" parameterType="com.web.gmarket.bulk.db.dto.DbSendDto">
		/*
			DbSendMapper.updateDbSend
		*/
		UPDATE ${tableName}
			<set>
				<if test='bMsgKey != null and bMsgKey != ""'>
					B_MSG_KEY = #{bMsgKey},
				</if>
				<if test='tranCallback != null and tranCallback != ""'>
					TRAN_CALLBACK = #{tranCallback},
				</if>
				<if test='tranDate != null and tranDate != ""'>
					TRAN_DATE = #{tranDate},
				</if>
				<if test='tranStatus != null and tranStatus != ""'>
					TRAN_STATUS = #{tranStatus},
				</if>
				<if test='msgWrite != null and msgWrite != ""'>
					TRAN_MSG = #{msgWrite},
				</if>
				<if test='reserved3 != null and reserved3 != ""'>
					TRAN_MSG = #{reserved3},
				</if>
				<if test='msgTitle != null and msgTitle != ""'>
					TRAN_TITLE = #{msgTitle},
				</if>
				<if test='msgType != null and msgType == "mms"'>
					IMAGE_PATH_01 = #{imagePath01},
					IMAGE_PATH_02 = #{imagePath02}
				</if>
			</set>
		WHERE RESERVED4 = #{reserved4}
		  AND TRAN_STATUS IS NULL
	</update>
	
</mapper>
