<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.web.gmarket.hist.mapper.HistMapper">
	
	<resultMap id="HistResultMap" type="com.web.gmarket.hist.dto.HistDto">
		<result property="TRAN_PR" column="TRAN_PR" />
		<result property="TRAN_PHONE" column="TRAN_PHONE" />
		<result property="TRAN_CALLBACK" column="TRAN_CALLBACK" />
		<result property="TRAN_STATUS" column="TRAN_STATUS" />
		<result property="TRAN_DATE" column="TRAN_DATE" />
		<result property="TRAN_RSLT" column="TRAN_RSLT" />
		<result property="TRAN_MSG" column="TRAN_MSG" />
		<result property="CORP_RESERVED2" column="CORP_RESERVED2" />
		<result property="TABLE_NAME" column="TABLE_NAME" />
	</resultMap>
	
	<select id="selectHistList" resultMap="HistResultMap">
		/*
			HistMapper.selectHistList
		*/
		<choose>
			<when test="monthTables != null and monthTables.size() > 0">
				(
				<foreach collection="monthTables" item="tableName" separator=" UNION ALL ">
					SELECT
						TRAN_PR,
						TRAN_PHONE,
						TRAN_CALLBACK,
						TRAN_STATUS,
						REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), TRAN_DATE, 120), '-', ''), ':', ''), ' ', '') AS TRAN_DATE,
						TRAN_RSLT,
						TRAN_MSG,
						CORP_RESERVED2,
						CASE
					        WHEN RIGHT(#{tableName}, 7) LIKE '_[0-9][0-9][0-9][0-9][0-9][0-9]'
					        THEN LEFT(#{tableName}, LEN(#{tableName}) - 7)
					        ELSE #{tableName}
					    END AS TABLE_NAME
					FROM ${tableName}
<!--					WHERE REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), TRAN_DATE, 120), '-', ''), ':', ''), ' ', '') <![CDATA[>=]]> #{startTime}-->
<!--						AND REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), TRAN_DATE, 120), '-', ''), ':', ''), ' ', '') <![CDATA[<=]]> #{endTime}-->
					WHERE TRAN_DATE >= CONVERT(DATETIME, REPLACE(#{startTime}, '-', ''), 112)
						AND TRAN_DATE<![CDATA[ < ]]>DATEADD(DAY, 1, CONVERT(DATETIME, REPLACE(#{endTime}, '-', ''), 112))
					<if test="phoneNum != null and phoneNum != ''">
						AND TRAN_PHONE LIKE CONCAT('%', #{phoneNum}, '%')
					</if>
				</foreach>
				)
				
				<!-- DevExtreme 정렬 처리 -->
				<if test="sort != null and sort.size() > 0">
					ORDER BY
					<foreach collection="sort" item="s" separator=",">
						${s.selector}
						<choose>
							<when test="s.desc">DESC</when>
							<otherwise>ASC</otherwise>
						</choose>
					</foreach>
				</if>
				<if test="sort == null or sort.size() == 0">
					ORDER BY TRAN_DATE DESC
				</if>
				
				<!-- DevExtreme 페이징 처리 -->
				<if test="take != null and skip != null">
					OFFSET #{skip} ROWS FETCH NEXT #{take} ROWS ONLY
				</if>
			</when>
		</choose>
	</select>
	
	<select id="selectHistCount" resultType="int">
		/*
			HistMapper.selectHistCount
		*/
		<choose>
			<when test="monthTables != null and monthTables.size() > 0">
				SELECT COUNT(*) FROM (
					<foreach collection="monthTables" item="tableName" separator=" UNION ALL ">
						SELECT 1 AS CNT
						FROM ${tableName}
<!--						WHERE REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), TRAN_DATE, 120), '-', ''), ':', ''), ' ', '') <![CDATA[>=]]> #{startTime}-->
<!--							AND REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), TRAN_DATE, 120), '-', ''), ':', ''), ' ', '') <![CDATA[<=]]> #{endTime}-->
						WHERE TRAN_DATE >= CONVERT(DATETIME, REPLACE(#{startTime}, '-', ''), 112)
							AND TRAN_DATE<![CDATA[ < ]]>DATEADD(DAY, 1, CONVERT(DATETIME, REPLACE(#{endTime}, '-', ''), 112))
						<if test="phoneNum != null and phoneNum != ''">
							AND TRAN_PHONE LIKE CONCAT('%', #{phoneNum}, '%')
						</if>
					</foreach>
				) TOTAL
			</when>
			<otherwise>
				SELECT 0
			</otherwise>
		</choose>
	</select>
	
</mapper>