<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.web.gmarket.hist.mapper.HistMapper">
	<resultMap id="HistResultMap" type="com.web.gmarket.hist.dto.HistDto">
		<result property="tranPr" column="TRAN_PR" />
		<result property="tranPhone" column="TRAN_PHONE" />
		<result property="tranCallback" column="TRAN_CALLBACK" />
		<result property="tranStatus" column="TRAN_STATUS" />
		<result property="tranDate" column="TRAN_DATE" />
		<result property="tranRslt" column="TRAN_RSLT" />
		<result property="tranMsg" column="TRAN_MSG" />
		<result property="corpReserved2" column="CORP_RESERVED2" />
	</resultMap>
	
	<select id="selectHistList" resultMap="HistResultMap">
		<choose>
			<when test="monthTables != null and monthTables.size() > 0">
				(
				<foreach collection="monthTables" item="tableName" separator=" UNION ALL ">
						SELECT
							TRAN_PR,
							TRAN_PHONE,
							TRAN_CALLBACK,
							TRAN_STATUS,
							REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), TRAN_DATE, 120), '-', ''), ':', ''), ' ', '') AS TRAN_DATE,
							TRAN_RSLT,
							TRAN_MSG,
							CORP_RESERVED2
						FROM ${tableName}
						WHERE REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), TRAN_DATE, 120), '-', ''), ':', ''), ' ', '') <![CDATA[>=]]> #{startTime}
							AND REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), TRAN_DATE, 120), '-', ''), ':', ''), ' ', '') <![CDATA[<=]]> #{endTime}
				<if test="phoneNum != null and phoneNum != ''">
							AND TRAN_PHONE LIKE CONCAT('%', #{phoneNum}, '%')
				</if>
				</foreach>
				)
				ORDER BY TRAN_DATE DESC
			</when>
		</choose>
	</select>
</mapper>