<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.web.gmarket.common.mapper.ServiceInfoMapper">
	
	<select id="selectServiceNameList" resultType="com.web.gmarket.common.dto.ServiceInfoDto">
		/*
			ServiceInfoMapper.selectServiceNameList
		*/
		SELECT DISTINCT SVC_NAME, COMPANY_CODE, TABLE_CODE, SORT_NUM
		FROM T_SERVICE_INFO
		WHERE TABLE_CODE <![CDATA[ <> ]]> 0 AND TABLE_CODE <![CDATA[ <> ]]>-1 
		ORDER BY COMPANY_CODE, SORT_NUM, SVC_NAME
	</select>
	
</mapper>