<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.web.gmarket.serviceMgmt.mapper.ServiceMgmtMapper">

	<resultMap id="ServiceMgmtResultMap" type="com.web.gmarket.serviceMgmt.dto.ServiceMgmtDto">
		<result property="COMPANY_CODE" column="COMPANY_CODE" />
		<result property="SVC_NAME" column="SVC_NAME" />
		<result property="CHECK_BIT" column="CHECK_BIT" />
	</resultMap>
	
	<select id="selectServiceList" resultMap="ServiceMgmtResultMap" parameterType="com.web.gmarket.serviceMgmt.dto.ServiceMgmtDto">
		SELECT
			COMPANY_CODE,
			SVC_NAME,
			CASE
				WHEN MIN(CASE WHEN CHECK_BIT = 'T' THEN 1 ELSE 0 END) = 1
					THEN 'T'
				ELSE 'F'
			END AS CHECK_BIT
		FROM T_PROC_STATUS_NEW
		WHERE COMPANY_CODE = #{companyCode}
		GROUP BY
			COMPANY_CODE,
			SVC_NAME
		ORDER BY
			SVC_NAME
	</select>
	
	<update id="updateFalseCheckBit" parameterType="com.web.gmarket.serviceMgmt.dto.ServiceMgmtDto">
		UPDATE T_PROC_STATUS_NEW SET
			CHECK_BIT = 'F'
		WHERE COMPANY_CODE = #{companyCode}
	</update>
	
	<update id="updateTrueCheckBit" parameterType="com.web.gmarket.serviceMgmt.dto.ServiceMgmtDto">
		UPDATE T_PROC_STATUS_NEW SET
			CHECK_BIT = 'T'
		WHERE COMPANY_CODE = #{companyCode}
			AND SVC_NAME = #{svcName}
	</update>
	
</mapper>