<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.web.gmarket.stat.mapper.StatMapper">

	<resultMap id="StatResultMap" type="com.web.gmarket.stat.dto.StatDto">
		<result property="RESULT_DATE" column="RESULT_DATE" />
		<result property="TABLE_CODE" column="TABLE_CODE" />
		<result property="TABLE_NAME" column="TABLE_NAME" />
		<result property="SUCC_CNT" column="SUCC_CNT" />
		<result property="TRY_CNT" column="TRY_CNT" />
		<result property="FAIL_CNT" column="FAIL_CNT" />
		<result property="FAIL_00" column="FAIL_00" />
		<result property="FAIL_01" column="FAIL_01" />
		<result property="FAIL_02" column="FAIL_02" />
		<result property="FAIL_03" column="FAIL_03" />
		<result property="FAIL_04" column="FAIL_04" />
		<result property="FAIL_05" column="FAIL_05" />
		<result property="FAIL_06" column="FAIL_06" />
		<result property="FAIL_07" column="FAIL_07" />
		<result property="FAIL_08" column="FAIL_08" />
		<result property="FAIL_09" column="FAIL_09" />
		<result property="COMPANY_CODE" column="COMPANY_CODE" />
	</resultMap>
	
	<select id="selectAuctionStatListCount" resultType="int" parameterType="com.web.gmarket.stat.dto.StatDto">
	  	/*
	  		StatMapper.selectAuctionStatListCount  옥션 정산/통계 목록 갯수
	  	*/
	  	
		SELECT COUNT(*)
		FROM (
			SELECT
				RESULT_DATE, TABLE_CODE
			FROM (
				<choose>
					<when test="timeType == 1">
						SELECT RESULT_DATE AS RESULT_DATE
					</when>
					<when test="timeType == 2">
						SELECT SUBSTRING(RESULT_DATE, 1, 8) AS RESULT_DATE
					</when>
					<when test="timeType == 3">
						SELECT SUBSTRING(RESULT_DATE, 1, 6) AS RESULT_DATE
					</when>
					<otherwise>
						SELECT SUBSTRING(RESULT_DATE, 1, 4) AS RESULT_DATE
					</otherwise>
				</choose>
					, TABLE_CODE
				FROM T_MSG_STAT
				<choose>
					<when test="tableCode > 0">
						WHERE TABLE_CODE = #{tableCode}
					</when>
					<otherwise>
						<if test="tableCodeList != null and tableCodeList.size() > 0">
							WHERE TABLE_CODE IN
							<foreach collection="tableCodeList" item="code" separator="," open="(" close=")">
								#{code}
							</foreach>
						</if>
					</otherwise>
				</choose>
			) STAT_A
			WHERE <![CDATA[ RESULT_DATE >= #{startDate} AND RESULT_DATE <= #{endDate} ]]>
			GROUP BY RESULT_DATE, TABLE_CODE
		) STAT_B
	</select>
	
	<select id="selectAuctionStatList" resultMap="StatResultMap" parameterType="com.web.gmarket.stat.dto.StatDto">
	  	/*
	  		StatMapper.selectAuctionStatList 옥션 정산/통계 목록 조회
	  	*/
	  	
		SELECT
			RESULT_DATE, TABLE_CODE, SUM(SUCC_CNT) AS SUCC_CNT, SUM(TRY_CNT) AS TRY_CNT, (SUM(TRY_CNT) - SUM(SUCC_CNT)) AS FAIL_CNT
			, SUM(FAIL_00) AS FAIL_00, SUM(FAIL_01) AS FAIL_01, SUM(FAIL_02) AS FAIL_02, SUM(FAIL_03) AS FAIL_03, SUM(FAIL_04) AS FAIL_04
			, SUM(FAIL_05) AS FAIL_05, SUM(FAIL_06) AS FAIL_06, SUM(FAIL_07) AS FAIL_07, SUM(FAIL_08) AS FAIL_08, SUM(FAIL_09) AS FAIL_09
			, #{companyCode} AS COMPANY_CODE
    	FROM (
			<choose>
				<when test="timeType == 1">
					SELECT RESULT_DATE AS RESULT_DATE
				</when>
				<when test="timeType == 2">
					SELECT SUBSTRING(RESULT_DATE, 1, 8) AS RESULT_DATE
				</when>
				<when test="timeType == 3">
					SELECT SUBSTRING(RESULT_DATE, 1, 6) AS RESULT_DATE
				</when>
				<otherwise>
					SELECT SUBSTRING(RESULT_DATE, 1, 4) AS RESULT_DATE
				</otherwise>
			</choose>
				, TABLE_CODE, SUCC_CNT, TRY_CNT
				, FAIL_00, FAIL_01 , FAIL_02, FAIL_03, FAIL_04
				, FAIL_05, FAIL_06, FAIL_07, FAIL_08, FAIL_09
			FROM T_MSG_STAT
			<choose>
				<when test="tableCode > 0">
					WHERE TABLE_CODE = #{tableCode}
				</when>
				<otherwise>
					<if test="tableCodeList != null and tableCodeList.size() > 0">
						WHERE TABLE_CODE IN
						<foreach collection="tableCodeList" item="code" separator="," open="(" close=")">
				 			#{code}
						</foreach>
					</if>
				</otherwise>
			</choose>
	  	) T
	  	WHERE <![CDATA[ RESULT_DATE >= #{startDate} AND RESULT_DATE <= #{endDate} ]]>
	  	GROUP BY RESULT_DATE, TABLE_CODE
	  	<!-- DevExtreme 정렬 처리 -->
		<choose>
			<when test="sort != null and sort.size() > 0">
				ORDER BY
			<foreach collection="sort" item="s" separator=",">
				${s.selector}
				<choose>
					<when test="s.desc">DESC</when>
					<otherwise>ASC</otherwise>
				</choose>
			</foreach>
			</when>
			<otherwise>
				ORDER BY RESULT_DATE DESC, TABLE_CODE
			</otherwise>
		</choose>
	</select>
	
	<select id="selectGmarketStatListCount" resultType="int" parameterType="com.web.gmarket.stat.dto.StatDto">
	  	/*
	  		StatMapper.selectStatListGmarketCount G마켓 정산/통계 목록 갯수
	  	*/
	  	
		SELECT COUNT(*)
		FROM (
			SELECT
				RESULT_DATE, TABLE_CODE, TABLE_NAME
			FROM (
				<choose>
					<when test="timeType == 1">
						SELECT A.RESULT_DATE AS RESULT_DATE
					</when>
					<when test="timeType == 2">
						SELECT SUBSTRING(A.RESULT_DATE, 1, 8) AS RESULT_DATE
					</when>
					<when test="timeType == 3">
						SELECT SUBSTRING(A.RESULT_DATE, 1, 6) AS RESULT_DATE
					</when>
					<otherwise>
						SELECT SUBSTRING(A.RESULT_DATE, 1, 4) AS RESULT_DATE
					</otherwise>
				</choose>
					, A.TABLE_CODE, B.TABLE_NAME
				FROM T_MSG_STAT A
				JOIN T_TCODE_LIST B ON A.TABLE_CODE = B.TABLE_CODE
				WHERE B.COMPANY_CODE = 1
				<if test="tableCode > 0">
					AND B.TABLE_CODE = #{tableCode}
			  	</if>
			) STAT_A
			WHERE <![CDATA[ RESULT_DATE >= #{startDate} AND RESULT_DATE <= #{endDate} ]]>
			GROUP BY RESULT_DATE, TABLE_CODE, TABLE_NAME
		) STAT_B
	</select>
	
	<select id="selectGmarketStatList" resultMap="StatResultMap" parameterType="com.web.gmarket.stat.dto.StatDto">
	  	/*
	  		StatMapper.selectStatList G마켓 정산/통계 목록 조회
	  	*/
	  	
	  	SELECT
	  		RESULT_DATE, TABLE_CODE, TABLE_NAME, SUCC_CNT, TRY_CNT, FAIL_CNT
			, FAIL_00, FAIL_01, FAIL_02, FAIL_03, FAIL_04, FAIL_05, FAIL_06, FAIL_07, FAIL_08, FAIL_09
			, COMPANY_CODE
	  	FROM (
			SELECT
				RESULT_DATE, TABLE_CODE, TABLE_NAME, SUM(SUCC_CNT) AS SUCC_CNT, SUM(TRY_CNT) AS TRY_CNT, (SUM(TRY_CNT) - SUM(SUCC_CNT)) AS FAIL_CNT
				, SUM(FAIL_00) AS FAIL_00, SUM(FAIL_01) AS FAIL_01, SUM(FAIL_02) AS FAIL_02, SUM(FAIL_03) AS FAIL_03, SUM(FAIL_04) AS FAIL_04
				, SUM(FAIL_05) AS FAIL_05, SUM(FAIL_06) AS FAIL_06, SUM(FAIL_07) AS FAIL_07, SUM(FAIL_08) AS FAIL_08, SUM(FAIL_09) AS FAIL_09
				, #{companyCode} AS COMPANY_CODE
	    	FROM (
				<choose>
					<when test="timeType == 1">
						SELECT A.RESULT_DATE AS RESULT_DATE
					</when>
					<when test="timeType == 2">
						SELECT SUBSTRING(A.RESULT_DATE, 1, 8) AS RESULT_DATE
					</when>
					<when test="timeType == 3">
						SELECT SUBSTRING(A.RESULT_DATE, 1, 6) AS RESULT_DATE
					</when>
					<otherwise>
						SELECT SUBSTRING(A.RESULT_DATE, 1, 4) AS RESULT_DATE
					</otherwise>
				</choose>
					, A.TABLE_CODE, B.TABLE_NAME, A.SUCC_CNT, A.TRY_CNT
					, A.FAIL_00, A.FAIL_01, A.FAIL_02, A.FAIL_03, A.FAIL_04
					, A.FAIL_05, A.FAIL_06, A.FAIL_07, A.FAIL_08, A.FAIL_09
				FROM T_MSG_STAT A
				JOIN T_TCODE_LIST B ON A.TABLE_CODE = B.TABLE_CODE
				WHERE B.COMPANY_CODE = 1
				<if test="tableCode > 0">
					AND B.TABLE_CODE = #{tableCode}
			  	</if>
		  	) T
		  	WHERE <![CDATA[ RESULT_DATE >= #{startDate} AND RESULT_DATE <= #{endDate} ]]>
		  	GROUP BY RESULT_DATE, TABLE_CODE, TABLE_NAME
		) T1
	  	<!-- DevExtreme 정렬 처리 -->
		<choose>
			<when test="sort != null and sort.size() > 0">
				ORDER BY
			<foreach collection="sort" item="s" separator=",">
				${s.selector}
				<choose>
					<when test="s.desc">DESC</when>
					<otherwise>ASC</otherwise>
				</choose>
			</foreach>
			</when>
			<otherwise>
				ORDER BY RESULT_DATE DESC, TABLE_CODE
			</otherwise>
		</choose>
		OFFSET #{skip} ROWS FETCH NEXT #{take} ROWS ONLY
	</select>
	
</mapper>