<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.web.gmarket.stat.mapper.StatMapper">
	<select id="selectStatCodeListCount" resultType="int" parameterType="com.web.gmarket.stat.dto.StatCodeDto">
	  	/*
	  		StatMapper.selectStatCodeListCount 통계 코드 목록 갯수
	  	*/
	    SELECT COUNT(*) 
	    FROM T_TCODE_LIST 
	    WHERE DEL_FLAG='N'
	  	  AND COMPANY_CODE = #{companyCode}
	  	<if test="tableCode > 0">
	  	  AND TABLE_CODE = #{tableCode}
	  	</if>
	</select>
	
	<select id="selectStatCodeList" resultType="com.web.gmarket.stat.dto.StatCodeDto" parameterType="com.web.gmarket.stat.dto.StatCodeDto">
	  	/*
	  		StatMapper.selectStatCodeList 통계 코드 목록 조회
	  	*/
	    SELECT TABLE_CODE, TABLE_NAME, COMPANY_CODE, USE_YN, DEL_FLAG 
	    FROM T_TCODE_LIST
	    WHERE COMPANY_CODE = #{companyCode}
	  	<if test="tableCode > 0">
	  	  AND TABLE_CODE = #{tableCode}
	  	</if>
	  	  AND DEL_FLAG = 'N'
	  	ORDER BY TABLE_NAME
	</select>
	
	<select id="selectStatListGmarketCount" resultType="int" parameterType="com.web.gmarket.stat.dto.StatDto">
	  	/*
	  		StatMapper.selectStatListGmarketCount 정산/통계 목록 갯수 지마켓
	  	*/
	  	<![CDATA[
		SELECT COUNT(*) AS TOTAL_CNT
		FROM T_MSG_STAT A, T_TCODE_LIST B 
		WHERE A.TABLE_CODE = B.TABLE_CODE
		  AND A.RESULT_DATE >= #{startDate} AND RESULT_DATE <= #{endDate}
		  AND COMPANY_CODE = 1
		<if test="tableCode > 0">
	  	  AND TABLE_CODE = #{tableCode}
	  	</if>
		]]>
	</select>
	
	<select id="selectStatListGmarket" resultType="com.web.gmarket.stat.dto.StatDto" parameterType="com.web.gmarket.stat.dto.StatDto">
	  	/*
	  		StatMapper.selectStatList 정산/통계 목록 조회 지마켓
	  	*/
	  	<![CDATA[
		SELECT 
			RESULT_DATE, TABLE_CODE, TABLE_NAME, SUM(SUCC_CNT) AS SUCC_CNT, SUM(TRY_CNT) AS TRY_CNT, 
			, SUM(FAIL_01) AS FAIL_01, SUM(FAIL_02) AS FAIL_02, SUM(FAIL_03) AS FAIL_03, SUM(FAIL_04) AS FAIL_04
			, SUM(FAIL_05) AS FAIL_05, SUM(FAIL_06) AS FAIL_06, SUM(FAIL_07) AS FAIL_07, SUM(FAIL_08) AS FAIL_08, SUM(FAIL_09) AS FAIL_09
    	FROM (
		<choose>
			<when test="timeType == 1">
			SELECT A.RESULT_DATE AS RESULT_DATE
			</when>
			<when test="timeType == 2">
			SELECT SUBSTRING(A.RESULT_DATE, 1, 8) AS RESULT_DATE
			</when>
			<when test="timeType == 3">
			SELECT SUBSTRING(A.RESULT_DATE, 1, 6) AS RESULT_DATE
			</when>
			<otherwise>
			SELECT SUBSTRING(A.RESULT_DATE, 1, 4) AS RESULT_DATE
			</otherwise>
		</choose>
				, A.TABLE_CODE, B.TABLE_NAME, A.SUCC_CNT, A.TRY_CNT, A.FAIL_01
				, A.FAIL_02, A.FAIL_03, A.FAIL_04, A.FAIL_05, A.FAIL_06, A.FAIL_07, A.FAIL_08, A.FAIL_09
			FROM T_MSG_STAT A, T_TCODE_LIST B 
			WHERE A.TABLE_CODE = B.TABLE_CODE
			  AND COMPANY_CODE = 1
			<if test="tableCode > 0">
		  	  AND TABLE_CODE = #{tableCode}
		  	</if>
	  	) T
	  	WHERE RESULT_DATE >= #{startDate} AND RESULT_DATE <= #{endDate}
	  	GROUP BY RESULT_DATE, TABLE_NAME, TABLE_CODE
	  	ORDER BY RESULT_DATE DESC
	  	OFFSET #{skip} ROWS FETCH NEXT #{take} ROWS ONLY
		]]>
	</select>
	
	<select id="selectStatListAuctionCount" resultType="int" parameterType="com.web.gmarket.stat.dto.StatDto">
	  	/*
	  		StatMapper.selectStatListAuctionCount 정산/통계 목록 갯수 옥션
	  	*/
	  	<![CDATA[
  			SELECT COUNT(*) AS TOTAL_CNT
			FROM T_MSG_STAT
		<choose>
			<when test="tableCode != null and tableCode > 0">
			WHERE TABLE_CODE = #{tableCode}
			</when>
			<otherwise>
			WHERE TABLE_CODE IN
				<foreach collection="tableCodeList" item="tableCode" open="(" separator="," close=")">
					#{tableCode}
				</foreach>
			</otherwise>
		</choose>
		  	  AND RESULT_DATE >= #{startDate} AND RESULT_DATE <= #{endDate}
		]]>
	</select>
	
	<select id="selectStatListAuction" resultType="com.web.gmarket.stat.dto.StatDto" parameterType="com.web.gmarket.stat.dto.StatDto">
	  	/*
	  		StatMapper.selectStatListAuction 정산/통계 목록 조회 옥션
	  	*/
	  	<![CDATA[
		SELECT 
			RESULT_DATE, TABLE_CODE, SUM(SUCC_CNT) AS SUCC_CNT, SUM(TRY_CNT) AS TRY_CNT
			, SUM(FAIL_01) AS FAIL_01, SUM(FAIL_02) AS FAIL_02, SUM(FAIL_03) AS FAIL_03, SUM(FAIL_04) AS FAIL_04
			, SUM(FAIL_05) AS FAIL_05, SUM(FAIL_06) AS FAIL_06, SUM(FAIL_07) AS FAIL_07, SUM(FAIL_08) AS FAIL_08, SUM(FAIL_09) AS FAIL_09
    	FROM (
		<choose>
			<when test="timeType != null and timeType == 1">
			SELECT RESULT_DATE
			</when>
			<when test="timeType != null and timeType == 2">
			SELECT SUBSTRING(RESULT_DATE, 1, 8) AS RESULT_DATE
			</when>
			<when test="timeType != null and timeType == 3">
			SELECT SUBSTRING(RESULT_DATE, 1, 6) AS RESULT_DATE
			</when>
			<otherwise>
			SELECT SUBSTRING(RESULT_DATE, 1, 4) AS RESULT_DATE
			</otherwise>
		</choose>
				, TABLE_CODE, SUCC_CNT, TRY_CNT, FAIL_01, FAIL_02
				, FAIL_03, FAIL_04, FAIL_05, FAIL_06, FAIL_07, FAIL_08, FAIL_09
			FROM T_MSG_STAT
		<choose>
			<when test="tableCode != null and tableCode > 0">
			WHERE TABLE_CODE = #{tableCode}
			</when>
			<otherwise>
			<if test="tableCodeList != null and tableCodeList.size() > 0">
			WHERE TABLE_CODE IN
				<foreach collection="tableCodeList" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			</otherwise>
		</choose>
	  	) T
	  	WHERE RESULT_DATE >= #{startDate} AND RESULT_DATE <= #{endDate}
	  	GROUP BY RESULT_DATE, TABLE_CODE
	  	ORDER BY RESULT_DATE DESC
  		OFFSET #{skip} ROWS FETCH NEXT #{take} ROWS ONLY
  		]]>
	</select>
	
</mapper>