<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.web.gmarket.user.mapper.UserMapper">

	<resultMap id="UserResultMap" type="com.web.gmarket.user.dto.UserDto">
		<result property="USER_SEQ" column="USER_SEQ" />
		<result property="USER_ID" column="USER_ID" />
		<result property="USER_NAME" column="USER_NAME" />
		<result property="TEL_NO" column="TEL_NO" />
		<result property="HP_NO" column="HP_NO" />
		<result property="EMAIL" column="EMAIL" />
		<result property="COMPANY_CODE" column="COMPANY_CODE" />
		<result property="USER_GRADE" column="USER_GRADE" />
		<result property="SMS_YN" column="SMS_YN" />
		<result property="EXCEL_YN" column="EXCEL_YN" />
		<result property="FILE_YN" column="FILE_YN" />
		<result property="DB_YN" column="DB_YN" />
		<result property="REG_DATE" column="REG_DATE" />
		<result property="CHG_DATE" column="CHG_DATE" />
		<result property="USE_YN" column="USE_YN" />
		<result property="DEL_FLAG" column="DEL_FLAG" />
		<result property="USER_TEXT0" column="USER_TEXT0" />
		<result property="USER_TEXT1" column="USER_TEXT1" />
		<result property="LMS_YN" column="LMS_YN" />
		<result property="MMS_YN" column="MMS_YN" />
	</resultMap>

	<select id="selectUserInfo" resultType="com.web.gmarket.user.dto.UserDto" parameterType="com.web.gmarket.user.dto.UserDto">
	  	/*
	  		UserMapper.selectUserInfo 사용자 정보 조회
	  	*/
	    SELECT 
			USER_SEQ, USER_ID, USER_PWD, USER_NAME, ISNULL(TEL_NO, '') AS TEL_NO , ISNULL(HP_NO, '') AS HP_NO, ISNULL(EMAIL, '') AS EMAIL, COMPANY_CODE
			, USER_GRADE, SMS_YN, EXCEL_YN, FILE_YN, DB_YN, REG_DATE, CHG_DATE
			, USE_YN, DEL_FLAG, ISNULL(USER_TEXT0, '') AS USER_TEXT0, ISNULL(USER_TEXT1, '') AS USER_TEXT1, LMS_YN, MMS_YN, ISNULL(ENC_1_PA, '') AS ENC_1_PA  
		FROM T_SMS_CLIENT
		WHERE USER_ID = #{userId}
		<if test='delFlag != null and !delFlag.isEmpty()'>
			AND DEL_FLAG = #{delFlag}
		</if>
		ORDER BY USER_SEQ DESC
	</select>
	
	<select id="selectUserInfoListCount" resultType="int" parameterType="com.web.gmarket.user.dto.UserDto">
	  	/*
	  		UserMapper.selectUserInfoListCount 사용자 정보 목록 갯수
	  	*/
	    SELECT 
			COUNT(*)
		FROM T_SMS_CLIENT
		WHERE 1 = 1
		<if test='userId != null and !userId.isEmpty()'>
			AND USER_ID = #{userId}
		</if>
		<if test="userGrade != null and userGrade != -1">
			AND USER_GRADE = #{userGrade}
		</if>
		<if test='companyCode != null'>
			AND COMPANY_CODE = #{companyCode}
		</if>
		AND DEL_FLAG = 'N'
	</select>
	
	<select id="selectUserInfoList" resultMap="UserResultMap" parameterType="com.web.gmarket.user.dto.UserDto">
	  	/*
	  		UserMapper.selectUserInfoList 사용자 정보 목록 조회
	  	*/
	  	SELECT 
	  		 USER_SEQ, USER_ID, USER_NAME, TEL_NO, HP_NO, EMAIL, COMPANY_CODE
	  		 , USER_GRADE, SMS_YN, EXCEL_YN, FILE_YN, DB_YN, REG_DATE, CHG_DATE
	  		 , USE_YN, DEL_FLAG, USER_TEXT0, USER_TEXT1, LMS_YN, MMS_YN
	  	FROM (
			SELECT
				USER_SEQ, USER_ID, USER_NAME, ISNULL(TEL_NO, '') AS TEL_NO , ISNULL(HP_NO, '') AS HP_NO, ISNULL(EMAIL, '') AS EMAIL, COMPANY_CODE
				, USER_GRADE, SMS_YN, EXCEL_YN, FILE_YN, DB_YN, REG_DATE, CHG_DATE
				, USE_YN, DEL_FLAG, ISNULL(USER_TEXT0, '') AS USER_TEXT0, ISNULL(USER_TEXT1, '') AS USER_TEXT1, LMS_YN, MMS_YN
			FROM T_SMS_CLIENT
			WHERE 1 = 1
			<if test='userId != null and !userId.isEmpty()'>
				AND USER_ID = #{userId}
			</if>
			<if test="userGrade != null and userGrade != -1">
				AND USER_GRADE = #{userGrade}
			</if>
			<if test='companyCode != null'>
				AND COMPANY_CODE = #{companyCode}
			</if>
			AND DEL_FLAG = 'N'
		) T
		<choose>
	  		<when test="sort != null and sort.size() > 0">
		ORDER BY
			<foreach collection="sort" item="s" separator=",">
				${s.selector}
				<choose>
					<when test="s.desc">DESC</when>
					<otherwise>ASC</otherwise>
				</choose>
			</foreach>
	  		</when>
	  		<otherwise>
	  	ORDER BY USER_SEQ DESC
	  		</otherwise>
	  	</choose>
		OFFSET #{skip} ROWS FETCH NEXT #{take} ROWS ONLY
	</select>
	
	<insert id="insertUserInfo" parameterType="com.web.gmarket.user.dto.UserDto">
		/*
	  		UserMapper.insertUserInfo 사용자 정보 등록
	  	*/
	  	INSERT INTO T_SMS_CLIENT (
			USER_ID, USER_PWD, USER_NAME, USER_GRADE, COMPANY_CODE
			, HP_NO, EXCEL_YN, FILE_YN, DB_YN, LMS_YN, MMS_YN, USE_YN, ENC_1_PA
		) VALUES (
			#{userId}, #{userPwd}, #{userName}, #{userGrade}, #{companyCode}
			, #{hpNo}, #{excelYn}, #{fileYn}, #{dbYn}, #{lmsYn}, #{mmsYn}, #{useYn}, #{enc1Pa}
		)
	</insert>
	
	<update id="updateUserInfo" parameterType="com.web.gmarket.user.dto.UserDto">
		/*
	  		UserMapper.updateUserInfo 사용자 정보 수정
	  	*/
		UPDATE T_SMS_CLIENT
			<set>
<!--		        <if test="userPwd != null and userPwd != ''">USER_PWD = #{userPwd},</if>-->
		        <if test="userName != null and userName != ''">USER_NAME = #{userName},</if>
		        <if test="userGrade != null and userGrade != ''">USER_GRADE = #{userGrade},</if>
		        <if test="companyCode != null and companyCode != ''">COMPANY_CODE = #{companyCode},</if>
<!--		        <if test="telNo != null">TEL_NO = #{telNo},</if>-->
		        <if test="hpNo != null">HP_NO = #{hpNo},</if>
		        <if test="smsYn != null and smsYn != ''">SMS_YN = #{smsYn},</if>
		        <if test="excelYn != null and excelYn != ''">EXCEL_YN = #{excelYn},</if>
		        <if test="fileYn != null and fileYn != ''">FILE_YN = #{fileYn},</if>
		        <if test="dbYn != null and dbYn != ''">DB_YN = #{dbYn},</if>
		        <if test="lmsYn != null and lmsYn != ''">LMS_YN = #{lmsYn},</if>
		        <if test="mmsYn != null and mmsYn != ''">MMS_YN = #{mmsYn},</if>
		        <if test="useYn != null and useYn != ''">USE_YN = #{useYn},</if>
		        <if test="enc1Pa != null and enc1Pa != ''">ENC_1_PA = #{enc1Pa},</if>
		        CHG_DATE = CONVERT(VARCHAR(10), GETDATE(), 112) + REPLACE(CONVERT(VARCHAR(8), GETDATE(), 108), ':', '')
		    </set>
		WHERE USER_ID = #{userId}
	</update>
	
	<update id="deleteUserInfo" parameterType="String">
		/*
	  		UserMapper.deleteUserInfo 사용자 정보 삭제
	  	*/
		UPDATE T_SMS_CLIENT SET
			DEL_FLAG = 'Y'
		WHERE USER_ID = #{userId}
	</update>
	
	<update id="updateUserPassword" parameterType="com.web.gmarket.user.dto.UserDto">
		/*
	  		UserMapper.updateUserPassword 사용자 비밀번호 변경
	  	*/
		UPDATE T_SMS_CLIENT
			<set>
		        <if test="userPwd != null">USER_PWD = #{userPwd},</if>
				<if test="enc1Pa != null">ENC_1_PA = #{enc1Pa}</if>
			</set>
		WHERE USER_ID = #{userId}
	</update>
	
</mapper>