<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.web.gmarket.wait.mapper.WaitMapper">
	<resultMap id="WaitResultMap" type="com.web.gmarket.wait.dto.WaitDto">
		<result property="B_SEQ" column="B_SEQ" />
		<result property="B_MSG_KEY" column="B_MSG_KEY" />
		<result property="LOGIN_ID" column="LOGIN_ID" />
		<result property="USER_ID" column="USER_ID" />
		<result property="TITLE" column="TITLE" />
		<result property="MSG" column="MSG" />
		<result property="IN_TIME" column="IN_TIME"/>
		<result property="REQ_TIME" column="REQ_TIME" />
		<result property="CNT" column="CNT" />
		<result property="STATUS" column="STATUS" />
		<result property="SVC_TYPE" column="SVC_TYPE"/>
	</resultMap>
	
	<select id="selectWaitList" resultMap="WaitResultMap">
		/*
			WaitMapper.selectWaitList
		*/
		(
		SELECT
			B_SEQ,
			B_MSG_KEY,
			LOGIN_ID,
			USER_ID,
			TITLE,
			MSG,
			REPLACE( REPLACE( REPLACE( CONVERT(VARCHAR(19), IN_TIME, 120), '-', ''), ':', ''), ' ', '') AS IN_TIME,
			REPLACE( REPLACE( REPLACE( CONVERT(VARCHAR(19), REQ_TIME, 120), '-', ''), ':', ''), ' ', '') AS REQ_TIME,
			CNT,
			STATUS,
			SVC_TYPE
		FROM
			T_BROADCAST_MSG
		WHERE REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), REQ_TIME, 120), '-', ''), ':', ''), ' ', '') <![CDATA[>=]]> #{startTime}
			AND REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), REQ_TIME, 120), '-', ''), ':', ''), ' ', '') <![CDATA[<=]]> #{endTime}
		<if test="waitTitle != null and waitTitle != ''">
			AND TITLE LIKE CONCAT('%', #{waitTitle}, '%')
		</if>
		)
		
		<!-- DevExtreme 정렬 처리 -->
		<if test="sort != null and sort.size() > 0">
			ORDER BY
			<foreach collection="sort" item="s" separator=",">
				${s.selector}
				<choose>
					<when test="s.desc">DESC</when>
					<otherwise>ASC</otherwise>
				</choose>
			</foreach>
		</if>
		<if test="sort == null or sort.size() == 0">
			ORDER BY B_SEQ DESC
		</if>
		
		<!-- DevExtreme 페이징 처리 -->
		<if test="take != null and skip != null">
			OFFSET #{skip} ROWS FETCH NEXT #{take} ROWS ONLY
		</if>
	</select>
	
	<select id="selectWaitCount" resultType="int">
		/*
			WaitMapper.selectWaitCount
		*/
		SELECT COUNT(*) FROM (			
			SELECT 1 AS CNT
			FROM T_BROADCAST_MSG
			WHERE REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), REQ_TIME, 120), '-', ''), ':', ''), ' ', '') <![CDATA[>=]]> #{startTime}
				AND REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), REQ_TIME, 120), '-', ''), ':', ''), ' ', '') <![CDATA[<=]]> #{endTime}
			<if test="waitTitle != null and waitTitle != ''">
				AND TITLE LIKE CONCAT('%', #{waitTitle}, '%')
			</if>		
		) TOTAL
	</select>
	
	<delete id="deleteWaitMsg" parameterType="map">
		/*
			WaitMapper.deleteWaitMsg
		*/
		DELETE FROM ${tableName}
		WHERE B_MSG_KEY = #{bulkMsgKey}
	</delete>
	
	<delete id="deleteBroadCastMsg" parameterType="map">
		/*
			WaitMapper.deleteBroadCastMsg
		*/
		DELETE T_BROADCAST_MSG
		WHERE B_MSG_KEY = #{bulkMsgKey}
	</delete>
	
</mapper>