<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.web.gmarket.wait.mapper.WaitMapper">
	<resultMap id="WaitResultMap" type="com.web.gmarket.wait.dto.WaitDto">
		<result property="bulkMsgKey" column="B_MSG_KEY" />
		<result property="loginID" column="LOGIN_ID" />
		<result property="userID" column="USER_ID" />
		<result property="title" column="TITLE" />
		<result property="msg" column="MSG" />
		<result property="inTime" column="IN_TIME"/>
		<result property="reqTime" column="REQ_TIME" />
		<result property="cnt" column="CNT" />
		<result property="status" column="STATUS" />
		<result property="svcType" column="SVC_TYPE"/>
		<result property="bulkSeq" column="B_SEQ" />
	</resultMap>
	
	<select id="selectWaitList" resultMap="WaitResultMap">
		(
		SELECT
			B_MSG_KEY,
			LOGIN_ID,
			USER_ID,
			TITLE,
			MSG,
			REPLACE( REPLACE( REPLACE( CONVERT(VARCHAR(19), IN_TIME, 120), '-', ''), ':', ''), ' ', '') AS IN_TIME,
			REPLACE( REPLACE( REPLACE( CONVERT(VARCHAR(19), REQ_TIME, 120), '-', ''), ':', ''), ' ', '') AS REQ_TIME,
			CNT,
			STATUS,
			SVC_TYPE,
			B_SEQ
		FROM
			T_BROADCAST_MSG
		WHERE REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), REQ_TIME, 120), '-', ''), ':', ''), ' ', '') <![CDATA[>=]]> #{startTime}
			AND REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), REQ_TIME, 120), '-', ''), ':', ''), ' ', '') <![CDATA[<=]]> #{endTime}
		<if test="waitTitle != null and waitTitle != ''">
			AND TITLE LIKE CONCAT('%', #{waitTitle}, '%')
		</if>
		)
		ORDER BY B_SEQ DESC
		<if test="take != null and skip != null">
			OFFSET #{skip} ROWS FETCH NEXT #{take} ROWS ONLY
		</if>
	</select>
	
	<select id="selectWaitCount" resultType="int">
		SELECT COUNT(*) FROM (			
			SELECT 1 AS CNT
			FROM T_BROADCAST_MSG
			WHERE REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), REQ_TIME, 120), '-', ''), ':', ''), ' ', '') <![CDATA[>=]]> #{startTime}
				AND REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), REQ_TIME, 120), '-', ''), ':', ''), ' ', '') <![CDATA[<=]]> #{endTime}
			<if test="waitTitle != null and waitTitle != ''">
				AND TITLE LIKE CONCAT('%', #{waitTitle}, '%')
			</if>		
		) TOTAL
	</select>
	
	<delete id="deleteWaitMsg" parameterType="map">
		DELETE FROM ${tableName}
		WHERE B_MSG_KEY = #{bulkMsgKey}
	</delete>
	
	<delete id="deleteBroadCastMsg" parameterType="map">
		DELETE T_BROADCAST_MSG
		WHERE B_MSG_KEY = #{bulkMsgKey}
	</delete>
	
</mapper>