<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{${layout}}" layout:fragment="content">
<!-- 폐쇄망일 경우 layout 라이브러리를 따로 설치해서 사용해야됨 -->
	<p class="font-sz-20 font-weight-600 pt-3 text-666">이력조회</p>
	<form class="content row mx-0 mb-2" id="hist">
		<div class="col-6">
			<div class="row d-flex align-items-center mb-2">
				<div class="col-3">
					<label class="font-weight-500">조회 기간</label>
				</div>
				<div class="col d-flex align-items-center">
					<div id="startDate" class="me-2"></div>
					<span class="mx-1">~</span>
					<div id="endDate" class="ms-2"></div>
				</div>
			</div>
			<div class="row d-flex align-items-center mb-2">
				<div class="col-3">
					<label class="font-weight-500">대분류</label>
				</div>
				<div class="col">
					<select name="" id="" class="form-select">
					<option value="">G마켓</option>
				</select>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="row d-flex align-items-center mb-2">
				<div class="col-3">
					<label class="font-weight-500">수신자 번호</label>
				</div>
				<div class="col">
					<input type="text" name="" id="" class="form-control" placeholder="번호를 입력하세요.">
				</div>
			</div>
			<div class="row d-flex align-items-center mb-2">
				<div class="col-3">
					<label class="font-weight-500">중분류</label>
				</div>
				<div class="col">
					<select name="" id="" class="form-select">
						<option value="0">전체</option>
						<option value="1">테이블명1</option>
						<option value="2">테이블명2</option>
					</select>
				</div>
			</div>
			<div class="row d-flex align-items-center">
				<div class="col d-flex justify-content-end">
					<button class="btn btn-success font-sz-14 ms-2" id="excel-btn">엑셀 다운로드</button>
					<button class="btn btn-primary font-sz-14 ms-2">조회</button>
				</div>
			</div>
		</div>
	</form>
	<div class="content">
		<div id="histGrid"></div>
	</div>
	
	<script th:src="@{/js/view/hist.js}"></script>
</html>