<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{${layout}}" layout:fragment="content">
	
	<p class="font-sz-20 font-weight-600 pt-3 text-666">이력조회</p>
	<form class="content row mx-0 mb-2" id="hist">
		<div class="col-6">
			<div class="row d-flex align-items-center mb-2">
				<div class="col-3">
					<label class="font-weight-500">조회 기간</label>
				</div>
				<div class="col d-flex align-items-center">
					<div id="startDate" class="me-2"></div>
					<span class="mx-1">~</span>
					<div id="endDate" class="ms-2"></div>
				</div>
			</div>
			<div class="row d-flex align-items-center mb-2">
				<div class="col-3">
					<label class="font-weight-500">대분류</label>
				</div>
				<div class="col">
					<div id="large-category"></div>
					<!-- <select name="" id="" class="form-select">
					<option value="">G마켓</option>
				</select> -->
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="row d-flex align-items-center mb-2">
				<div class="col-3">
					<label class="font-weight-500">수신자 번호</label>
				</div>
				<div class="col">
					<div id="receive-num"></div>
				</div>
			</div>
			<div class="row d-flex align-items-center mb-2">
				<div class="col-3">
					<label class="font-weight-500">중분류</label>
				</div>
				<div class="col">
					<div id="middle-category"></div>
					<!-- <select name="" id="" class="form-select">
						<option value="0">전체</option>
						옥션
						<option value="1">SMSCLI_TBL_CHARGED</option>
						<option value="2">SMSCLI_TBL_ESCROW</option>
						<option value="3">SMSCLI_TBL_OUTBID</option>
						<option value="4">SMSCLI_TBL_API</option>
						<option value="5">SMSCLI_TBL_BATCH</option>
						<option value="6">SMSCLI_TBL_MOTORS</option>
						<option value="7">SMSCLI_TBL_PUMBL</option>
						<option value="8">SMSCLI_TBL_EVENT</option>
						<option value="9">SMSCLI_TBL_LARGE</option>
						<option value="21">LMSCLI_TBL_EVENT</option>
						<option value="22">LMSCLI_TBL_LARGE</option>
						<option value="41">MMSCLI_TBL_EVENT</option>
						<option value="42">MMSCLI_TBL_LARGE</option>
						<option value="71">IAC_SMSCLI_TBL_LARGE</option>
						<option value="72">IAC_LMSCLI_TBL_LARGE</option>
						<option value="73">IAC_MMSCLI_TBL_LARGE</option>
						지마켓
						<option value="11">SMSCLI_TBL_EMG</option>
						<option value="12">SMSCLI_TBL_ETC</option>
						<option value="13">SMSCLI_TBL_ORDER</option>
						<option value="14">SMSCLI_TBL_TRAN</option>
						<option value="15">SMSCLI_TBL_EVENT</option>
						<option value="16">SMSCLI_TBL_LARGE</option>
						<option value="31">LMSCLI_TBL_EVENT</option>
						<option value="32">LMSCLI_TBL_LARGE</option>
						<option value="51">MMSCLI_TBL_EVENT</option>
						<option value="52">MMSCLI_TBL_LARGE</option>
						<option value="61">GMKT_SMSCLI_TBL_LARGE</option>
						<option value="62">GMKT_LMSCLI_TBL_LARGE</option>
						<option value="63">GMKT_MMSCLI_TBL_LARGE</option>
						<option value="110">SFC_SMSCLI_TBL</option>
					</select> -->
				</div>
			</div>
			<div class="row d-flex align-items-center">
				<div class="col d-flex justify-content-end">
					<button class="btn btn-success font-sz-14 ms-2" id="excel-btn">엑셀 다운로드</button>
					<button class="btn btn-primary font-sz-14 ms-2">조회</button>
				</div>
			</div>
		</div>
	</form>
	<div class="content">
		<div id="histGrid"></div>
	</div>
	
	<script th:src="@{/js/view/hist.js}"></script>
</html>