<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{${layout}}" layout:fragment="content">

<body>
	<p class="font-sz-20 font-weight-600 pt-3 text-666">실시간 발송현황</p>
	<div class="row h-100" id="real_send_hist">
		<div class="col-6 mb-3 pe-2">
			<canvas id="line_chart" class="content"></canvas>
		</div>
		<div class="col-6 mb-3 ps-2">
			<canvas id="bar_chart" class="content"></canvas>
		</div>
		<div class="col-6 pe-2">
			<canvas id="bar_line_chart" class="content"></canvas>
		</div>
		<div class="col-6 ps-2">
			<canvas id="pie_chart" class="content"></canvas>
		</div>
	</div>
	
	<script th:src="@{/js/chart/chart.umd.js}"></script>
	<script th:src="@{/js/view/real_send_hist.js}"></script>
</body>

</html>