<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{${layout}}" layout:fragment="content">

<body>
	<p class="font-sz-20 font-weight-600 pt-3 text-666">실시간 발송현황</p>
	<div class="row h-100" id="real_send_hist">		
		<div class="col-12 mb-3 pe-2">					
			<canvas id="total_chart" class="content" width="1300" height="300"></canvas>
			<div class="d-flex justify-content-end mt-1">
				<button type="button" id="totalToggle" class="btn btn-primary font-sz-12">시작/중지</button>
			</div>	
		</div>
		<div class="col-6 mb-3 ps-2">
			<canvas id="gmarket_total_chart" class="content" width="640" height="300"></canvas>
			<div class="d-flex justify-content-end mt-1">
				<button type="button" id="gmarketTotalToggle" class="btn btn-primary font-sz-12">시작/중지</button>
			</div>					
		</div>
		<div class="col-6 mb-3 ps-2">
			<canvas id="auction_total_chart" class="content" width="640" height="300"></canvas>
			<div class="d-flex justify-content-end mt-1">
				<button type="button" id="auctionTotalToggle" class="btn btn-primary font-sz-12">시작/중지</button>
			</div>
		</div>
		<div class="col-6 mb-3 ps-2">
			<canvas id="gmarket_chart01" class="content" width="640" height="300"></canvas>
			<div class="d-flex justify-content-end mt-1">
				<button type="button" id="gmarketChartToggle1" class="btn btn-primary font-sz-12">시작/중지</button>
			</div>	
		</div>
		<div class="col-6 mb-3 ps-2">
			<canvas id="auction_chart01" class="content" width="640" height="300"></canvas>
			<div class="d-flex justify-content-end mt-1">
				<button type="button" id="auctionChartToggle1" class="btn btn-primary font-sz-12">시작/중지</button>
			</div>		
		</div>
		<div class="col-6 mb-3 ps-2">
			<canvas id="gmarket_chart02" class="content" width="640" height="300"></canvas>
			<div class="d-flex justify-content-end mt-1">
				<button type="button" id="gmarketChartToggle2" class="btn btn-primary font-sz-12">시작/중지</button>
			</div>	
		</div>
		<div class="col-6 mb-3 ps-2">
			<canvas id="auction_chart02" class="content" width="640" height="300"></canvas>
			<div class="d-flex justify-content-end mt-1">
				<button type="button" id="auctionChartToggle2" class="btn btn-primary font-sz-12">시작/중지</button>
			</div>	
		</div>
		<div class="col-6 mb-3 ps-2">
			<canvas id="gmarket_chart03" class="content" width="640" height="300"></canvas>
			<div class="d-flex justify-content-end mt-1">
				<button type="button" id="gmarketChartToggle3" class="btn btn-primary font-sz-12">시작/중지</button>
			</div>	
		</div>
		<div class="col-6 mb-3 ps-2">
			<canvas id="auction_chart03" class="content" width="640" height="300"></canvas>
			<div class="d-flex justify-content-end mt-1">
				<button type="button" id="auctionChartToggle3" class="btn btn-primary font-sz-12">시작/중지</button>
			</div>	
		</div>
		<div class="col-6 mb-3 ps-2">
			<canvas id="gmarket_chart04" class="content" width="640" height="300"></canvas>
			<div class="d-flex justify-content-end mt-1">
				<button type="button" id="gmarketChartToggle4" class="btn btn-primary font-sz-12">시작/중지</button>
			</div>	
		</div>
		<div class="col-6 mb-3 ps-2">
			<canvas id="auction_chart04" class="content" width="640" height="300"></canvas>
			<div class="d-flex justify-content-end mt-1">
				<button type="button" id="auctionChartToggle4" class="btn btn-primary font-sz-12">시작/중지</button>
			</div>	
		</div>
	</div>

	<script th:src="@{/js/chart/chart.umd.js}"></script>
	<script th:src="@{/js/view/real_send_hist.js}"></script>
</body>

</html>