<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{${layout}}" layout:fragment="content">

<body>
	<div class="real_wrap position-absolute w-100 top-0 start-0 px-3 hv-100 overflow-auto">
		<p class="font-sz-20 font-weight-600 pt-3 text-666">실시간 발송현황</p>
		<div class="" id="real_send_hist">
			<div class="mb-2 d-flex">
				<p class="font-sz-14 mb-1 font-weight-600 text-nowrap">지마켓</p>
				<div class="gmarket_wrap w-100">

				</div>
				<!-- <ul class="gap-1 d-flex gmarket mb-1">											
					<li class="col">
						<div class="card">
							<div class="card-body text-center">	
								<div class="serviceName">KT-SMS-STATP-GMA-2CON</div>
								<div class="processFiles d-flex gap-1 align-items-center justify-content-between">
									<div class="processFile gap-2">
										<div class="processFileName">DBP</div>
										<div class="processFileStatWrap">
											<div class="processFileStat">
												<div>PS</div>
												<span class="statColor"></span>
											</div>
											<div class="processFileStat">
												<div>DB</div>
												<span class="statColor red"></span>
											</div>
										</div>
									</div>
									<div class="processFile gap-2">
										<div class="processFileName">IFP01</div>
										<div class="processFileStatWrap">
											<div class="processFileStat">
												<div>PS</div>
												<span class="statColor green"></span>
											</div>
											<div class="processFileStat">
												<div>DB</div>
												<span class="statColor green"></span>
											</div>
										</div>
									</div>
									<div class="processFile gap-2">
										<div class="processFileName">MEMMON</div>
										<div class="processFileStatWrap">
											<div class="processFileStat">
												<div>PS</div>
												<span class="statColor green"></span>
											</div>
											<div class="processFileStat">
												<div>DB</div>
												<span class="statColor red"></span>
											</div>
										</div>
									</div>
								</div>
							</div>							
						</div>
					</li>									
				</ul> -->
			</div>				
			<div class="mb-2 d-flex">
				<p class="font-sz-14 mb-1 font-weight-600 text-nowrap">옥션</p>
				<div class="auction_wrap w-100">

				</div>
			</div>
			<div class="mb-2 d-flex">					
				<p class="font-sz-14 mb-1 font-weight-600 text-nowrap">스마일 캐시</p>
				<div class="smileCash_wrap w-100">

				</div>
			</div>
		</div>
	</div>

	<!-- <script th:src="@{/js/chart/chart.umd.js}"></script> -->
	<!-- <script th:src="@{/js/view/real_send_hist.js}"></script> -->
</body>
</html>
<!-- <script>
	window.onload = function() {
		const gmarket = document.querySelector('.gmarket_wrap');

		for(let i=0; i<3; i++){
			const ul = document.createElement('ul');
			ul.classList.add('gap-1', 'd-flex' , 'gmarket', 'mb-1');

			for(let x=0; x<9; x++){
				const li = document.createElement('li');
				li.classList.add('real2');
				li.innerHTML = `
					<div class="card">
						<div class="card-body text-center">	
							<div class="serviceName">KT-SMS-STATP-GMA-2CON</div>
							<div class="processFiles d-flex gap-1 align-items-center justify-content-between">
								<div class="processFile gap-2">
									<div class="processFileName">DBP</div>
									<div class="processFileStatWrap">
										<div class="processFileStat">
											<div>PS</div>
											<span class="statColor"></span>
										</div>
										<div class="processFileStat">
											<div>DB</div>
											<span class="statColor red"></span>
										</div>
									</div>
								</div>
								<div class="processFile gap-2">
									<div class="processFileName">IFP01</div>
									<div class="processFileStatWrap">
										<div class="processFileStat">
											<div>PS</div>
											<span class="statColor green"></span>
										</div>
										<div class="processFileStat">
											<div>DB</div>
											<span class="statColor green"></span>
										</div>
									</div>
								</div>
								<div class="processFile gap-2">
									<div class="processFileName">MEMMON</div>
									<div class="processFileStatWrap">
										<div class="processFileStat">
											<div>PS</div>
											<span class="statColor green"></span>
										</div>
										<div class="processFileStat">
											<div>DB</div>
											<span class="statColor red"></span>
										</div>
									</div>
								</div>
							</div>
						</div>							
					</div>
				`;
				ul.appendChild(li);
			}
			gmarket.appendChild(ul);
		}
		
		const auction = document.querySelector('.auction_wrap');

		for(let i=0; i<3; i++){
			const ul = document.createElement('ul');
			ul.classList.add('gap-1', 'd-flex' , 'auction', 'mb-1');

			for(let x=0; x<9; x++){
				const li = document.createElement('li');
				li.classList.add('real2');
				li.innerHTML = `
					<div class="card">
						<div class="card-body text-center">	
							<div class="serviceName">KT-SMS-STATP-GMA-2CON</div>
							<div class="processFiles d-flex gap-1 align-items-center justify-content-between">
								<div class="processFile gap-2">
									<div class="processFileName">DBP</div>
									<div class="processFileStatWrap">
										<div class="processFileStat">
											<div>PS</div>
											<span class="statColor"></span>
										</div>
										<div class="processFileStat">
											<div>DB</div>
											<span class="statColor red"></span>
										</div>
									</div>
								</div>
								<div class="processFile gap-2">
									<div class="processFileName">IFP01</div>
									<div class="processFileStatWrap">
										<div class="processFileStat">
											<div>PS</div>
											<span class="statColor green"></span>
										</div>
										<div class="processFileStat">
											<div>DB</div>
											<span class="statColor green"></span>
										</div>
									</div>
								</div>
								<div class="processFile gap-2">
									<div class="processFileName">MEMMON</div>
									<div class="processFileStatWrap">
										<div class="processFileStat">
											<div>PS</div>
											<span class="statColor green"></span>
										</div>
										<div class="processFileStat">
											<div>DB</div>
											<span class="statColor red"></span>
										</div>
									</div>
								</div>
							</div>
						</div>							
					</div>
				`;
				ul.appendChild(li);
			}
			auction.appendChild(ul);
		}

		const smileCash = document.querySelector('.smileCash_wrap');

		for(let i=0; i<1; i++){
			const ul = document.createElement('ul');
			ul.classList.add('gap-1', 'd-flex' , 'smileCash', 'mb-1');

			for(let x=0; x<4; x++){
				const li = document.createElement('li');
				li.classList.add('real2');
				li.innerHTML = `
					<div class="card">
						<div class="card-body text-center">	
							<div class="serviceName">KT-SMS-STATP-GMA-2CON</div>
							<div class="processFiles d-flex gap-1 align-items-center justify-content-between">
								<div class="processFile gap-2">
									<div class="processFileName">DBP</div>
									<div class="processFileStatWrap">
										<div class="processFileStat">
											<div>PS</div>
											<span class="statColor"></span>
										</div>
										<div class="processFileStat">
											<div>DB</div>
											<span class="statColor red"></span>
										</div>
									</div>
								</div>
								<div class="processFile gap-2">
									<div class="processFileName">IFP01</div>
									<div class="processFileStatWrap">
										<div class="processFileStat">
											<div>PS</div>
											<span class="statColor green"></span>
										</div>
										<div class="processFileStat">
											<div>DB</div>
											<span class="statColor green"></span>
										</div>
									</div>
								</div>
								<div class="processFile gap-2">
									<div class="processFileName">MEMMON</div>
									<div class="processFileStatWrap">
										<div class="processFileStat">
											<div>PS</div>
											<span class="statColor green"></span>
										</div>
										<div class="processFileStat">
											<div>DB</div>
											<span class="statColor red"></span>
										</div>
									</div>
								</div>
							</div>
						</div>							
					</div>
				`;
				ul.appendChild(li);
			}
			smileCash.appendChild(ul);
		}

		
	};
</script> -->
<script>
	window.onload = function() {
		const gmarket = document.querySelector('.gmarket_wrap');

		for(let q=0; q<3; q++){
			const div = document.createElement('div');
			div.classList.add('marquee');

			for(let i=0; i<2; i++){
				const ul = document.createElement('ul');
				if(i == 0){
					ul.classList.add('gap-1', 'd-flex' , 'gmarket', 'mb-1', 'marqueereverse', 'pe-1');
				} else{
					ul.classList.add('gap-1', 'd-flex' , 'gmarket', 'mb-1', 'marqueereverse', 'delay', 'pe-1');
				}
				
				for(let x=0; x<9; x++){
					const li = document.createElement('li');
					li.classList.add('real2');
					li.innerHTML = `
						<div class="card">
							<div class="card-body text-center">	
								<div class="serviceName">${x+1} KT-SMS-STATP-GMA-2CON</div>
								<div class="processFiles d-flex gap-1 align-items-center justify-content-between">
									<div class="processFile gap-2">
										<div class="processFileName">DBP</div>
										<div class="processFileStatWrap">
											<div class="processFileStat">
												<div>PS</div>
												<span class="statColor"></span>
											</div>
											<div class="processFileStat">
												<div>DB</div>
												<span class="statColor red"></span>
											</div>
										</div>
									</div>
									<div class="processFile gap-2">
										<div class="processFileName">IFP01</div>
										<div class="processFileStatWrap">
											<div class="processFileStat">
												<div>PS</div>
												<span class="statColor green"></span>
											</div>
											<div class="processFileStat">
												<div>DB</div>
												<span class="statColor green"></span>
											</div>
										</div>
									</div>
									<div class="processFile gap-2">
										<div class="processFileName">MEMMON</div>
										<div class="processFileStatWrap">
											<div class="processFileStat">
												<div>PS</div>
												<span class="statColor green"></span>
											</div>
											<div class="processFileStat">
												<div>DB</div>
												<span class="statColor red"></span>
											</div>
										</div>
									</div>
								</div>
							</div>							
						</div>
					`;
					ul.appendChild(li);
				}
				div.appendChild(ul);
			}

			gmarket.appendChild(div);
		}

		const gmarketMarquee = gmarket.querySelectorAll('.marquee');

		gmarket.addEventListener('mouseover', function(){
			gmarketMarquee.forEach((item, index) => {
				
				const marqueereverse = item.querySelectorAll('.marqueereverse');  
				
				marqueereverse.forEach((it, idx) => {
					it.classList.add('on');
				});
			});
		});

		gmarket.addEventListener('mouseout', function () {
			gmarketMarquee.forEach((item) => {
				const marqueereverse = item.querySelectorAll('.marqueereverse');
				marqueereverse.forEach((it) => {
					it.classList.remove('on');
				});
			});
		});
			
		const auction = document.querySelector('.auction_wrap');

		for(let q=0; q<2; q++){
			const div = document.createElement('div');
			div.classList.add('marquee');

			for(let i=0; i<2; i++){
				const ul = document.createElement('ul');
				if(i == 0){
					ul.classList.add('gap-1', 'd-flex' , 'auction', 'mb-1', 'marqueereverse', 'pe-1');
				} else{
					ul.classList.add('gap-1', 'd-flex' , 'auction', 'mb-1', 'marqueereverse', 'delay', 'pe-1');
				}
				
				for(let x=0; x<11; x++){
					const li = document.createElement('li');
					li.classList.add('real2');
					li.innerHTML = `
						<div class="card">
							<div class="card-body text-center">	
								<div class="serviceName">${x+1} KT-SMS-STATP-GMA-2CON</div>
								<div class="processFiles d-flex gap-1 align-items-center justify-content-between">
									<div class="processFile gap-2">
										<div class="processFileName">DBP</div>
										<div class="processFileStatWrap">
											<div class="processFileStat">
												<div>PS</div>
												<span class="statColor"></span>
											</div>
											<div class="processFileStat">
												<div>DB</div>
												<span class="statColor red"></span>
											</div>
										</div>
									</div>
									<div class="processFile gap-2">
										<div class="processFileName">IFP01</div>
										<div class="processFileStatWrap">
											<div class="processFileStat">
												<div>PS</div>
												<span class="statColor green"></span>
											</div>
											<div class="processFileStat">
												<div>DB</div>
												<span class="statColor green"></span>
											</div>
										</div>
									</div>
									<div class="processFile gap-2">
										<div class="processFileName">MEMMON</div>
										<div class="processFileStatWrap">
											<div class="processFileStat">
												<div>PS</div>
												<span class="statColor green"></span>
											</div>
											<div class="processFileStat">
												<div>DB</div>
												<span class="statColor red"></span>
											</div>
										</div>
									</div>
								</div>
							</div>							
						</div>
					`;
					ul.appendChild(li);
				}
				div.appendChild(ul);
			}

			auction.appendChild(div);
		}

		const auctionMarquee = auction.querySelectorAll('.marquee');

		auction.addEventListener('mouseover', function(){
			auctionMarquee.forEach((item, index) => {
				
				const marqueereverse = item.querySelectorAll('.marqueereverse');  
				
				marqueereverse.forEach((it, idx) => {
					it.classList.add('on');
				});
			});
		});

		auction.addEventListener('mouseout', function () {
			auctionMarquee.forEach((item) => {
				const marqueereverse = item.querySelectorAll('.marqueereverse');
				marqueereverse.forEach((it) => {
					it.classList.remove('on');
				});
			});
		});
		
		const smileCash = document.querySelector('.smileCash_wrap');

		for(let i=0; i<1; i++){
			const ul = document.createElement('ul');
			ul.classList.add('gap-1', 'd-flex' , 'smileCash', 'mb-1');

			for(let x=0; x<4; x++){
				const li = document.createElement('li');
				li.classList.add('real2');
				li.innerHTML = `
					<div class="card">
						<div class="card-body text-center">	
							<div class="serviceName">KT-SMS-STATP-GMA-2CON</div>
							<div class="processFiles d-flex gap-1 align-items-center justify-content-between">
								<div class="processFile gap-2">
									<div class="processFileName">DBP</div>
									<div class="processFileStatWrap">
										<div class="processFileStat">
											<div>PS</div>
											<span class="statColor"></span>
										</div>
										<div class="processFileStat">
											<div>DB</div>
											<span class="statColor red"></span>
										</div>
									</div>
								</div>
								<div class="processFile gap-2">
									<div class="processFileName">IFP01</div>
									<div class="processFileStatWrap">
										<div class="processFileStat">
											<div>PS</div>
											<span class="statColor green"></span>
										</div>
										<div class="processFileStat">
											<div>DB</div>
											<span class="statColor green"></span>
										</div>
									</div>
								</div>
								<div class="processFile gap-2">
									<div class="processFileName">MEMMON</div>
									<div class="processFileStatWrap">
										<div class="processFileStat">
											<div>PS</div>
											<span class="statColor green"></span>
										</div>
										<div class="processFileStat">
											<div>DB</div>
											<span class="statColor red"></span>
										</div>
									</div>
								</div>
							</div>
						</div>							
					</div>
				`;
				ul.appendChild(li);
			}
			smileCash.appendChild(ul);
		}

		
	};
</script>