<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{${layout}}" layout:fragment="content">

<body>
	<div class="real_wrap">
		<p class="font-sz-20 font-weight-600 pt-2 text-666 mb-2">실시간 발송현황</p>
		<div class="row col-real" id="real_send_hist">
			<div class="row col-6"> 
				<div class="col-4 gmarket">				
					<p class="text-center font-weight-600 mb-1">지마켓</p>
					<div class="memmon_wrap mb-2">
						<div class="text-center font-sz-12 text-666">MEMMON</div>
						<div class="card">
							<div class="card-body text-center">	
								<div class="serviceName text-nowrap font-weight-600">KT-MEMMON</div>
								<div class="processFiles d-flex justify-content-center gap-1">
									<div class="processFileStat gap-2">
										<span class="statColor real3 green">P</span>
										<span class="statColor real3 green">D</span>
									</div>									
								</div>
							</div>							
						</div>
					</div>
					<div class="statp_wrap mb-2">
						<div class="text-center font-sz-12 text-666">STATP</div>
						<div class="card-group">
							<div class="card">
								<div class="card-body text-center">	
									<div class="serviceName text-nowrap font-weight-600">KT-SMS-STATP-GMA</div>
									<div class="processFiles d-flex justify-content-center gap-1">
										<div class="processFileStat gap-2">
											<span class="statColor real3 green">P</span>
											<span class="statColor real3 green">D</span>
										</div>									
									</div>
								</div>							
							</div>
							<div class="card">
								<div class="card-body text-center">	
									<div class="serviceName text-nowrap font-weight-600">KT-SMS-STATP-GMA-2CON</div>
									<div class="processFiles d-flex justify-content-center gap-1">
										<div class="processFileStat gap-2">
											<span class="statColor real3 green">P</span>
											<span class="statColor real3 green">D</span>
										</div>									
									</div>
								</div>							
							</div>
						</div>						
					</div>
					<div class="dbp_ifp_wrap">
						<div class="d-flex">
							<div class="col-6 text-center font-sz-12 text-666">DBP</div>
							<div class="col-6 text-center font-sz-12 text-666">IFP</div>
						</div>
						<div class="card">
							<ul class="gmarket list-group d-flex flex-column">											
								<!-- <li class="list-group-item">
									<div class="text-center">	
										<div class="serviceName text-nowrap font-weight-600">KT-SMS-STATP-GMA-2CON</div>
										<div class="processFiles d-flex justify-content-center">
											<div class="processFileStat gap-2 col-6">
												<span class="statColor real3 green">P</span>
												<span class="statColor real3 green">D</span>
											</div>		
											<div class="processFileStat gap-2 col-6">
												<span class="statColor real3 green">P</span>
												<span class="statColor real3 green">D</span>
											</div>								
										</div>
									</div>							
								</li> -->
							</ul>
						</div>						
					</div>					
				</div>				
				<div class="col-4">	
					<p class="text-center font-weight-600 mb-1">옥션</p>
					<div class="memmon_wrap mb-2">
						<div class="text-center font-sz-12 text-666">MEMMON</div>
						<div class="card">
							<div class="card-body text-center">	
								<div class="serviceName text-nowrap font-weight-600">KT-AUC-MEMMON</div>
								<div class="processFiles d-flex justify-content-center gap-1">
									<div class="processFileStat gap-2">
										<span class="statColor real3 green">P</span>
										<span class="statColor real3 green">D</span>
									</div>									
								</div>
							</div>							
						</div>
					</div>
					<div class="statp_wrap mb-2">
						<div class="text-center font-sz-12 text-666">STATP</div>
						<div class="card">
							<div class="card-body text-center">	
								<div class="serviceName text-nowrap font-weight-600">KT-SMS-STATP-AUC</div>
								<div class="processFiles d-flex justify-content-center gap-1">
									<div class="processFileStat gap-2">
										<span class="statColor real3 green">P</span>
										<span class="statColor real3 green">D</span>
									</div>									
								</div>
							</div>							
						</div>					
					</div>
					<div class="dbp_ifp_wrap">
						<div class="d-flex">
							<div class="col-6 text-center font-sz-12 text-666">DBP</div>
							<div class="col-6 text-center font-sz-12 text-666">IFP</div>
						</div>
						<div class="card">
							<ul class="auction list-group d-flex flex-column">											
								<!-- <li class="list-group-item">
									<div class="text-center">	
										<div class="serviceName text-nowrap font-weight-600">KT-SMS-STATP-GMA-2CON</div>
										<div class="processFiles d-flex justify-content-center">
											<div class="processFileStat gap-2 col-6">
												<span class="statColor real3 green">P</span>
												<span class="statColor real3 green">D</span>
											</div>		
											<div class="processFileStat gap-2 col-6">
												<span class="statColor real3 green">P</span>
												<span class="statColor real3 green">D</span>
											</div>								
										</div>
									</div>							
								</li> -->
							</ul>
						</div>						
					</div>						
				</div>
				<div class="col-4">	
					<p class="text-center font-weight-600 mb-1">스마일캐시</p>
					<div class="dbp_ifp_wrap">
						<div class="d-flex">
							<div class="col-6 text-center font-sz-12 text-666">DBP</div>
							<div class="col-6 text-center font-sz-12 text-666">IFP</div>
						</div>
						<div class="card">
							<ul class="smileCash list-group d-flex flex-column">											
								<!-- <li class="list-group-item">
									<div class="text-center">	
										<div class="serviceName text-nowrap font-weight-600">KT-SMS-STATP-GMA-2CON</div>
										<div class="processFiles d-flex justify-content-center">
											<div class="processFileStat gap-2 col-6">
												<span class="statColor real3 green">P</span>
												<span class="statColor real3 green">D</span>
											</div>		
											<div class="processFileStat gap-2 col-6">
												<span class="statColor real3 green">P</span>
												<span class="statColor real3 green">D</span>
											</div>								
										</div>
									</div>							
								</li> -->
							</ul>
						</div>						
					</div>	
				</div>
			</div>
			<div class="col-6">				
				<div class="col-12 mb-2 pe-2">	
					<p class="text-center mb-1 font-weight-600">지마켓</p>				
					<canvas id="gmarket_chart" class="content w-100" height="350"></canvas>
					<div class="d-flex justify-content-end mt-1">
						<button type="button" id="gmarketManage" class="btn btn-primary font-sz-12" style="margin-right: 10px;">관리</button>
						<button type="button" id="gmarketDetail" class="btn btn-primary font-sz-12">상세</button>
						<!-- <a href="/view/real/open" target="_blank" id="btn2" class="btn btn-primary font-sz-12">상세</a> -->
					</div>	
				</div>
				<div class="col-12 mb-2 pe-2">	
					<p class="text-center mb-1 font-weight-600">옥션</p>				
					<canvas id="action_chart" class="content w-100" height="350"></canvas>
					<div class="d-flex justify-content-end mt-1">
						<button type="button" id="auctionManage" class="btn btn-primary font-sz-12" style="margin-right: 10px;">관리</button>
						<button type="button" id="auctionDetail" class="btn btn-primary font-sz-12">상세</button>
						<!-- <a href="/view/real/open" target="_blank" id="btn1" class="btn btn-primary font-sz-12">상세</a> -->
					</div>
				</div>
				<div class="col-12 pe-2">			
					<p class="text-center mb-1 font-weight-600">스마일캐시</p>		
					<canvas id="smile_cash_chart" class="content w-100" height="350"></canvas>
					<div class="d-flex justify-content-end mt-1">
						<button type="button" id="smilecashManage" class="btn btn-primary font-sz-12" style="margin-right: 10px;">관리</button>
						<button type="button" id="smilecashDetail" class="btn btn-primary font-sz-12">상세</button>
						<!-- <a href="/view/real/open" target="_blank" id="btn3" class="btn btn-primary font-sz-12">상세</a> -->
					</div>
				</div>
			</div>
		</div>
		<div class="p-2"></div>
	</div>

	<!-- <script th:src="@{/js/chart/chart.umd.js}"></script> -->
	<!-- <script th:src="@{/js/view/real_send_hist.js}"></script> -->
</body>
</html>
<script th:src="@{/js/chart/chart.umd.js}"></script>
<script>
	window.onload = function() {
		const gmarketProcess = [
			{name: 'KT-SME-ENG', ifp:'2'},
			{name: 'KT-SMS-ETC',  ifp:'2'},
			{name: 'KT-SMS-EVENT-GMA',  ifp:'2'},
			{name: 'KT-GMKT-LMS-LARGE', ifp:'1'},
			{name: 'KT-GMKT-MMS-LARGE', ifp:'1'},
			{name: 'KT-GMKT-SMS-LARGE', ifp:'1'},
			{name: 'KT-SMS-LARGE-GMA', ifp:'2'},
			{name: 'KT-LMS-EVENT-GMA', ifp:'2'},
			{name: 'KT-LMS-LARGE-GMA', ifp:'2'},
			{name: 'KT-MMS-EVENT-GMA', ifp:'2'},
			{name: 'KT-MMS-LARGE-GMA', ifp:'2'},
			{name: 'KT-SMS-ORDER', ifp:'2'},
			{name: 'KT-SMS-EPLE', ifp:'2'},
			{name: 'KT-SMS-TRAN', ifp:'2'},
			{name: 'KT-SMS-TSP', ifp:'1'},
			{name: 'KT-SMS-MO4MMS', ifp:'1'},
			{name: 'KT-SFC-SMS', ifp:'1'},
			{name: 'KT-SFC-MMS', ifp:'1'},
			{name: 'KT-SFC-LMS', ifp:'1'},
			{name: 'KT-MMS-NON-GMA', ifp:'1'},
			{name: 'KT-LMS-NON-GMA', ifp:'1'},
			{name: 'KT-G9-SMS-LARGE', ifp:'1'},
			{name: 'KT-G9-MMS-LARGE', ifp:'1'},
			{name: 'KT-G9-LMS-LARGE', ifp:'1'},
		]
		const gmarket = document.querySelector('ul.gmarket');

		gmarketProcess.forEach((process, idx)=>{

			const li = document.createElement('li');

			li.classList.add('list-group-item');
			if(process.ifp === '1'){
				li.innerHTML = `
					<div class="text-center">	
						<div class="serviceName text-nowrap font-weight-600">${process.name}</div>
						<div class="processFiles d-flex justify-content-center">
							<div class="processFileStat gap-2 col-6">
								<span class="statColor real3 green">P</span>
								<span class="statColor real3 green">D</span>
							</div>		
							<div class="processFileStat gap-2 col-6">
								<span class="statColor real3 green">P</span>
								<span class="statColor real3 green">D</span>
							</div>								
						</div>
					</div>			
				`;
			}else{
				li.innerHTML = `
					<div class="text-center">	
						<div class="serviceName text-nowrap font-weight-600">${process.name}</div>
						<div class="processFiles d-flex justify-content-center">
							<div class="processFileStat gap-2 col-6">
								<span class="statColor real3 green">P</span>
								<span class="statColor real3 green">D</span>
							</div>		
							<div class="processFileStat gap-2 col-6">
								<span class="statColor real3 green">P1</span>
								<span class="statColor real3 green">D1</span>
								<span class="statColor real3 green">P2</span>
								<span class="statColor real3 green">D2</span>
							</div>								
						</div>
					</div>			
				`;
			}
			
			
			gmarket.appendChild(li);
		})

		const auctionProcess = [
			{name: 'KT-SMS-API', ifp:'2'},
			{name: 'KT-SMS-BATCH', ifp:'2'},
			{name: 'KT_SMS_CHARGED', ifp:'2'},
			{name: 'KT_SMS_ESCROW', ifp:'2'},
			{name: 'KT-SMS-EVENT-AUC', ifp:'2'},
			{name: 'KT-SMS-LARGE-AUC', ifp:'2'},
			{name: 'KT-LMS-EVENT-AUC', ifp:'2'},
			{name: 'KT-LMS-LARGE-AUC', ifp:'2'},
			{name: 'KT-MMS-LARGE-AUC', ifp:'2'},
			{name: 'KT-MMS-LARGE-AUC', ifp:'2'},
			{name: 'KT-SMS-MOTORS', ifp:'2'},
			{name: 'KT-SMS-OUTBID', ifp:'2'},
			{name: 'KT-SMS-PUMBL', ifp:'2'},
			{name: 'KT-IAC-LMS-LARGE', ifp:'1'},
			{name: 'KT-IAC-MMS-LARGE', ifp:'1'},
			{name: 'KT-IAC-SMS-LARGE', ifp:'1'},
			{name: 'KT-LMS-TIMECHECK-AUC', ifp:'1'},
			{name: 'KT-LMS-NEVENT-AUC', ifp:'2'},
			{name: 'KT-MMS-TIMECHECK-AUC', ifp:'1'},
			{name: 'KT-SMS-MO4MMS', ifp:'1'},
		]
		const auction = document.querySelector('ul.auction');
		auctionProcess.forEach((process, idx)=>{

			const li = document.createElement('li');

			li.classList.add('list-group-item');
			if(process.ifp === '1'){
				li.innerHTML = `
					<div class="text-center">	
						<div class="serviceName text-nowrap font-weight-600">${process.name}</div>
						<div class="processFiles d-flex justify-content-center">
							<div class="processFileStat gap-2 col-6">
								<span class="statColor real3 green">P</span>
								<span class="statColor real3 green">D</span>
							</div>		
							<div class="processFileStat gap-2 col-6">
								<span class="statColor real3 green">P</span>
								<span class="statColor real3 green">D</span>
							</div>								
						</div>
					</div>			
				`;
			}else{
				li.innerHTML = `
					<div class="text-center">	
						<div class="serviceName text-nowrap font-weight-600">${process.name}</div>
						<div class="processFiles d-flex justify-content-center">
							<div class="processFileStat gap-2 col-6">
								<span class="statColor real3 green">P</span>
								<span class="statColor real3 green">D</span>
							</div>		
							<div class="processFileStat gap-2 col-6">
								<span class="statColor real3 green">P1</span>
								<span class="statColor real3 green">D1</span>
								<span class="statColor real3 green">P2</span>
								<span class="statColor real3 green">D2</span>
							</div>								
						</div>
					</div>			
				`;
			}			
			
			auction.appendChild(li);
		})

		const smileCashProcess = [
			{name: 'KT-SMS-ADMIN', dbpP: 'P', dbpD: 'D', ifpP1: 'P1', ifpD1: 'D1'},
			{name: 'KT-SMS-ALERT', dbpP: 'P', dbpD: 'D', ifpP1: 'P1', ifpD1: 'D1'},
			{name: 'KT-SMS-CERT', dbpP: 'P', dbpD: 'D', ifpP1: 'P1', ifpD1: 'D1'},
			{name: 'KT_SMS_INFO', dbpP: 'P', dbpD: 'D', ifpP1: 'P1', ifpD1: 'D1'},
		]
		const smileCash = document.querySelector('ul.smileCash');
		smileCashProcess.forEach((process, idx)=>{

			const li = document.createElement('li');

			li.classList.add('list-group-item');
			
				li.innerHTML = `
					<div class="text-center">	
						<div class="serviceName text-nowrap font-weight-600">${process.name}</div>
						<div class="processFiles d-flex justify-content-center">
							<div class="processFileStat gap-2 col-6">
								<span class="statColor real3 green">P</span>
								<span class="statColor real3 green">D</span>
							</div>		
							<div class="processFileStat gap-2 col-6">
								<span class="statColor real3 green">P</span>
								<span class="statColor real3 green">D</span>
							</div>								
						</div>
					</div>			
				`;	
			
			smileCash.appendChild(li);
		})
	};
	
	const ctx1 = document.getElementById('action_chart').getContext('2d');
	const myChart1 = new Chart(ctx1, {
		type: 'line',
		data: {
  			labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
			datasets: [
				{
					label: 'KT-SME-ENG'
					, data: [65, 59, 80, 81, 56, 55, 40]
					, borderColor: 'rgba(255, 0, 0, 1)'
					, backgroundColor: 'rgba(255, 0, 0, 0.2)'
					, fill: false
					, tension: 0.1
				},
				{
					label: 'KT-SMS-EVENT-GMA'
					, data: [37, 56, 78, 34, 23, 86, 34]
					, borderColor: 'rgba(0, 0, 255, 1)'
					, backgroundColor: 'rgba(0, 0, 255, 0.2)'
					, fill: false
					, tension: 0.1
				},
				{
					label: 'KT-SMS-STATP-GMA'
					, data: [12, 32, 55, 22, 55, 64, 21]
					, borderColor: 'rgba(255, 255, 0, 1)'
					, backgroundColor: 'rgba(255, 255, 0, 0.2)'
					, fill: false
					, tension: 0.1
				},
				{
					label: 'KT-MMS-LARGE-GMA'
					, data: [53, 21, 56, 77, 42, 23, 41]
					, borderColor: 'rgba(0, 255, 255, 1)'
					, backgroundColor: 'rgba(0, 255, 255, 0.2)'
					, fill: false
					, tension: 0.1
				},
				{
					label: 'KT-MMS-EVENT-GMA'
					, data: [75, 87, 34, 65, 78, 44, 12]
					, borderColor: 'rgba(255, 0, 255, 1)'
					, backgroundColor: 'rgba(255, 0, 255, 0.2)'
					, fill: false
					, tension: 0.1
				},
				{
					label: 'KT-SMS-MO4MMS'
					, data: []
					, borderColor: 'rgba(255, 165, 0, 1)'
					, backgroundColor: 'rgba(255, 165, 0, 0.2)'
					, fill: false
					, tension: 0.1
				},
				{
					label: 'KT-MMS-NON-GMA'
					, data: [53, 23, 56, 32, 32, 23, 56]
					, borderColor: 'rgba(255, 255, 255, 1)'
					, backgroundColor: 'rgba(255, 255, 255, 0.2)'
					, fill: false
					, tension: 0.1
				},
				{
					label: 'KT-SMS-STATP-GMA-2CON'
					, data: [43, 54, 23, 12, 54, 76, 97]
					, borderColor: 'rgba(0, 255, 0, 1)'
					, backgroundColor: 'rgba(0, 255, 0, 0.2)'
					, fill: false
					, tension: 0.1
				},
				{
					label: 'KT-MMS-NON-GMA'
					, data: [53, 23, 56, 32, 32, 23, 56]
					, borderColor: 'rgba(255, 255, 255, 1)'
					, backgroundColor: 'rgba(255, 255, 255, 0.2)'
					, fill: false
					, tension: 0.1
				},
				{
					label: 'KT-SMS-STATP-GMA-2CON'
					, data: [43, 54, 23, 12, 54, 76, 97]
					, borderColor: 'rgba(0, 255, 0, 1)'
					, backgroundColor: 'rgba(0, 255, 0, 0.2)'
					, fill: false
					, tension: 0.1
				}
			],
			fill: false
		},
	  options: {
	    responsive: true,
	    scales: {
	      x: {
	        beginAtZero: true
	      },
	      y: {
	        beginAtZero: true
	      }
	    },
		plugins: {
            legend: {
                position: 'top',
            },
			// title: {
			// 	display: true,
			// 	text: 'ACTION'
			// },
        }
	  }
	});
	
	const ctx2 = document.getElementById('gmarket_chart').getContext('2d');
	const myChart2 = new Chart(ctx2, {
	  type: 'line',
	  data: {
	    			labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
	  			datasets: [
	  				{
	  					label: 'KT-SME-ENG'
	  					, data: [65, 59, 80, 81, 56, 55, 40]
	  					, borderColor: 'rgba(255, 0, 0, 1)'
	  					, backgroundColor: 'rgba(255, 0, 0, 0.2)'
	  					, fill: false
	  					, tension: 0.1
	  				},
	  				{
	  					label: 'KT-SMS-EVENT-GMA'
	  					, data: [37, 56, 78, 34, 23, 86, 34]
	  					, borderColor: 'rgba(0, 0, 255, 1)'
	  					, backgroundColor: 'rgba(0, 0, 255, 0.2)'
	  					, fill: false
	  					, tension: 0.1
	  				},
	  				{
	  					label: 'KT-SMS-STATP-GMA'
	  					, data: [12, 32, 55, 22, 55, 64, 21]
	  					, borderColor: 'rgba(255, 255, 0, 1)'
	  					, backgroundColor: 'rgba(255, 255, 0, 0.2)'
	  					, fill: false
	  					, tension: 0.1
	  				},
	  				{
	  					label: 'KT-MMS-LARGE-GMA'
	  					, data: [53, 21, 56, 77, 42, 23, 41]
	  					, borderColor: 'rgba(0, 255, 255, 1)'
	  					, backgroundColor: 'rgba(0, 255, 255, 0.2)'
	  					, fill: false
	  					, tension: 0.1
	  				},
	  				{
	  					label: 'KT-MMS-EVENT-GMA'
	  					, data: [75, 87, 34, 65, 78, 44, 12]
	  					, borderColor: 'rgba(255, 0, 255, 1)'
	  					, backgroundColor: 'rgba(255, 0, 255, 0.2)'
	  					, fill: false
	  					, tension: 0.1
	  				},
	  				{
	  					label: 'KT-SMS-MO4MMS'
	  					, data: []
	  					, borderColor: 'rgba(255, 165, 0, 1)'
	  					, backgroundColor: 'rgba(255, 165, 0, 0.2)'
	  					, fill: false
	  					, tension: 0.1
	  				},
	  				{
	  					label: 'KT-MMS-NON-GMA'
	  					, data: [53, 23, 56, 32, 32, 23, 56]
	  					, borderColor: 'rgba(255, 255, 255, 1)'
	  					, backgroundColor: 'rgba(255, 255, 255, 0.2)'
	  					, fill: false
	  					, tension: 0.1
	  				},
					{
						label: 'KT-MMS-NON-GMA'
						, data: [53, 23, 56, 32, 32, 23, 56]
						, borderColor: 'rgba(255, 255, 255, 1)'
						, backgroundColor: 'rgba(255, 255, 255, 0.2)'
						, fill: false
						, tension: 0.1
					},
					{
						label: 'KT-SMS-STATP-GMA-2CON'
						, data: [43, 54, 23, 12, 54, 76, 97]
						, borderColor: 'rgba(0, 255, 0, 1)'
						, backgroundColor: 'rgba(0, 255, 0, 0.2)'
						, fill: false
						, tension: 0.1
					},
					{
						label: 'KT-MMS-NON-GMA'
						, data: [53, 23, 56, 32, 32, 23, 56]
						, borderColor: 'rgba(255, 255, 255, 1)'
						, backgroundColor: 'rgba(255, 255, 255, 0.2)'
						, fill: false
						, tension: 0.1
					},
					{
						label: 'KT-SMS-STATP-GMA-2CON'
						, data: [43, 54, 23, 12, 54, 76, 97]
						, borderColor: 'rgba(0, 255, 0, 1)'
						, backgroundColor: 'rgba(0, 255, 0, 0.2)'
						, fill: false
						, tension: 0.1
					}
	  			],
	  			fill: false
	  		},
	  options: {
	    responsive: true,
	    scales: {
	      x: {
	        beginAtZero: true
	      },
	      y: {
	        beginAtZero: true
	      }
	    },
		plugins: {
            legend: {
                position: 'right',
            },
			// title: {
			// 	display: true,
			// 	text: 'GMARKET'
			// },
        }
	  }
	});
	
	const ctx3 = document.getElementById('smile_cash_chart').getContext('2d');
	const myChart3 = new Chart(ctx3, {
	  type: 'line',
	  data: {
	    			labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
	  			datasets: [
	  				{
	  					label: 'KT-SME-ENG'
	  					, data: [65, 59, 80, 81, 56, 55, 40]
	  					, borderColor: 'rgba(255, 0, 0, 1)'
	  					, backgroundColor: 'rgba(255, 0, 0, 0.2)'
	  					, fill: false
	  					, tension: 0.1
	  				},
	  				{
	  					label: 'KT-SMS-EVENT-GMA'
	  					, data: [37, 56, 78, 34, 23, 86, 34]
	  					, borderColor: 'rgba(0, 0, 255, 1)'
	  					, backgroundColor: 'rgba(0, 0, 255, 0.2)'
	  					, fill: false
	  					, tension: 0.1
	  				},
	  				{
	  					label: 'KT-SMS-STATP-GMA'
	  					, data: [12, 32, 55, 22, 55, 64, 21]
	  					, borderColor: 'rgba(255, 255, 0, 1)'
	  					, backgroundColor: 'rgba(255, 255, 0, 0.2)'
	  					, fill: false
	  					, tension: 0.1
	  				},
	  				{
	  					label: 'KT-MMS-LARGE-GMA'
	  					, data: [53, 21, 56, 77, 42, 23, 41]
	  					, borderColor: 'rgba(0, 255, 255, 1)'
	  					, backgroundColor: 'rgba(0, 255, 255, 0.2)'
	  					, fill: false
	  					, tension: 0.1
	  				}
	  			],
	  			fill: false
	  		},
	  options: {
	    responsive: true,
	    scales: {
	      x: {
	        beginAtZero: true
	      },
	      y: {
	        beginAtZero: true
	      }
	    },
		plugins: {
            legend: {
                position: 'right',
            },
			// title: {
			// 	display: true,
			// 	text: 'SMILE_CASH'
			// },
        }
	  }
	});
	
	// 상세 버튼 클릭
	function openDetailPage(url, winName) {
		const width = 1200;
		const height = 800;
		
		// 화면 중앙 좌표 계산 (브라우저 창 기준)
		const left = window.screenX + Math.max(0, Math.floor((window.outerWidth - width) / 2));
		const top  = window.screenY + Math.max(0, Math.floor((window.outerHeight - height) / 2));
		
		const features = `width=${width},height=${height},left=${left},top=${top},resizable=yes,scrollbars=yes`;
		
		const win = window.open(url, winName, features);
		if (win) win.focus();
		else alert('팝업이 차단되었습니다. 브라우저 설정을 확인하세요.');
	}
	
	// 버튼에 이벤트 바인딩
	document.getElementById('gmarketDetail').addEventListener('click', () => {
		openDetailPage('/view/real/detail/gmarket', 'detailGmarket');
	});
	document.getElementById('auctionDetail').addEventListener('click', () => {
		openDetailPage('/view/real/detail/auction', 'detailAuction');
	});
	document.getElementById('smilecashDetail').addEventListener('click', () => {
		openDetailPage('/view/real/detail/smilecash', 'detailSmilecash');
	});
	
</script>