<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{${layout}}" layout:fragment="content">

<body>
	<div class="real_wrap position-absolute w-100 top-0 start-0 px-3">
		<p class="font-sz-20 font-weight-600 pt-3 text-666">실시간 발송현황</p>
		<div class="row" id="real_send_hist">
			<div class="row col-6">
				<ul class="col-6">
					<li class="col">
						<div class="card">

						</div>
					</li>
					<li class="col">
						<div class="card">

						</div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
					<li class="col">
						<div class="card"></div>
					</li>
				</ul>
				<ul class="col-6">

				</ul>
			</div>
			<div class="col-6"></div>
		</div>
	</div>

	<!-- <script th:src="@{/js/chart/chart.umd.js}"></script> -->
	<!-- <script th:src="@{/js/view/real_send_hist.js}"></script> -->
</body>

</html>