<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{${layout}}" layout:fragment="content">

<body>
	<p class="font-sz-20 font-weight-600 pt-3 text-666">서비스 관리</p>
	<div id="service_mgmt" class="row">
		<div class="col-4">
			<div class="content pt-0 card h-100">
				<div id="serviceListAuction"></div>
			</div>
		</div>
		<div class="col-4">
			<div class="content pt-0 card h-100">
				<div id="serviceListGmarket"></div>
			</div>
		</div>
		<div class="col-4">
			<div class="content pt-0 card h-100">
				<div id="serviceListSmilecash"></div>
			</div>
		</div>
	</div>
</body>

<script th:src="@{/js/view/serviceMgmt.js}"></script>
</html>