<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{${layout}}" layout:fragment="content">

	<p class="font-sz-20 font-weight-600 pt-3 text-666">대기 메시지 조회</p>
	<form class="content row mx-0 mb-2" id="wait_sms_hist">
		<div class="col-6">
			<div class="row d-flex align-items-center mb-2">
				<div class="col-3">
					<label class="font-weight-500">조회 기간</label>
				</div>
				<div class="col d-flex align-items-center">
					<div id="startDate" class="me-2"></div>
					<span class="mx-1">~</span>
					<div id="endDate" class="ms-2"></div>
				</div>
			</div>
			<div class="row d-flex align-items-center mb-2">
				<div class="col-3">
					<label class="font-weight-500">대분류</label>
				</div>
				<div class="col">
					<div id="companyCode"></div>					
				</div>
			</div>			
		</div>
		<div class="col-6">
			<div class="row d-flex align-items-center mb-2">
				<div class="col-3">
			 		<label class="font-weight-500">제목</label>
				</div>
				<div class="col">
					<div id="wait_title"></div>
				</div>
			</div>			
			<div class="row d-flex align-items-center">
				<div class="col d-flex justify-content-end">	
					<div id="search-btn"></div>				
					<!-- <button type="button" class="btn btn-primary font-sz-14 ms-2" id="search-btn">조회</button> -->
				</div>
			</div>
		</div>
	</form>
	<div class="content">
		<div id="waitHistGrid"></div>
	</div>
	
	<script th:src="@{/js/view/wait_sms_hist.js}"></script>
</html>